<div class="showcase-container">
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Text Button</div>
        </mat-card-header>
        <mat-card-content class="button-demo-showcase uniform-size">
            <div>
                <button mat-button>Basic</button>
                <button mat-button disabled>Basic Disabled</button>
            </div>
            <div>
                <button mat-button color="primary">Primary</button>
                <button mat-button color="primary" disabled>Primary Disabled</button>
            </div>
            <div>
                <button mat-button color="accent">Accent</button>
                <button mat-button color="accent" disabled>Accent Disabled</button>
            </div>
            <div>
                <button mat-button color="warn">Warn</button>
                <button mat-button color="warn" disabled>Warn Disabled</button>
            </div>
            <div>
                <a mat-button routerLink=".">Link</a>
                <a mat-button routerLink="." disabled>Link Disabled</a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Raised Button</div>
        </mat-card-header>
        <mat-card-content class="button-demo-showcase uniform-size">
            <div>
                <button mat-raised-button>Basic</button>
                <button mat-raised-button disabled>Basic Disabled</button>
            </div>
            <div>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="primary" disabled>Primary Disabled</button>
            </div>
            <div>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="accent" disabled>Accent Disabled</button>
            </div>
            <div>
                <button mat-raised-button color="warn">Warn</button>
                <button mat-raised-button color="warn" disabled>Warn Disabled</button>
            </div>
            <div>
                <a mat-raised-button routerLink=".">Link</a>
                <a mat-raised-button routerLink="." disabled>Link Disabled</a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Outlined Button</div>
        </mat-card-header>
        <mat-card-content class="button-demo-showcase uniform-size">
            <div>
                <button mat-stroked-button>Basic</button>
                <button mat-stroked-button disabled>Basic Disabled</button>
            </div>
            <div>
                <button mat-stroked-button color="primary">Primary</button>
                <button mat-stroked-button color="primary" disabled>Primary Disabled</button>
            </div>
            <div>
                <button mat-stroked-button color="accent">Accent</button>
                <button mat-stroked-button color="accent" disabled>Accent Disabled</button>
            </div>
            <div>
                <button mat-stroked-button color="warn">Warn</button>
                <button mat-stroked-button color="warn" disabled>Warn Disabled</button>
            </div>
            <div>
                <a mat-stroked-button routerLink=".">Link</a>
                <a mat-stroked-button routerLink="." disabled>Link Disabled</a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>BLUI Inline</div>
        </mat-card-header>
        <mat-card-content class="button-demo-showcase">
            <div>
                <button mat-stroked-button color="primary" blui-inline>
                    <mat-icon>info</mat-icon>
                    <span>Blui Inline</span>
                </button>
                <button mat-stroked-button color="primary" blui-inline>
                    <mat-icon>info</mat-icon>
                    <span>Blui Inline</span>
                    <mat-icon>info</mat-icon>
                </button>
            </div>
            <div>
                <button mat-stroked-button color="primary" blui-inline>
                    <span>Blui Inline</span>
                    <mat-icon>info</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Icon Button</div>
        </mat-card-header>
        <mat-card-content class="button-demo-showcase icon-button-demo">
            <div>
                <div>
                    <div>Default</div>
                    <button mat-icon-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
                <div>
                    <div>Default Disabled</div>
                    <button mat-icon-button disabled>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <div>Primary</div>
                    <button mat-icon-button color="primary">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
                <div>
                    <div>Primary Disabled</div>
                    <button mat-icon-button color="primary" disabled>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <div>Accent</div>
                    <button mat-icon-button color="accent">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
                <div>
                    <div>Accent Disabled</div>
                    <button mat-icon-button color="accent" disabled>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <div>
                    <div>Warn</div>
                    <button mat-icon-button color="warn">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
                <div>
                    <div>Warn Disabled</div>
                    <button mat-icon-button color="warn" disabled>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Mini FAB</div>
        </mat-card-header>
        <mat-card-content class="fab-demo">
            <div>
                <button mat-mini-fab><mat-icon>search</mat-icon></button>
                <div>Basic</div>
                <button mat-mini-fab disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <button mat-mini-fab color="primary"><mat-icon>search</mat-icon></button>
                <div>Primary</div>
                <button mat-mini-fab color="primary" disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <button mat-mini-fab color="accent"><mat-icon>search</mat-icon></button>
                <div>Accent</div>
                <button mat-mini-fab color="accent" disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <button mat-mini-fab color="warn"><mat-icon>search</mat-icon></button>
                <div>Warn</div>
                <button mat-mini-fab color="warn" disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <a mat-mini-fab routerLink="."><mat-icon>search</mat-icon></a>
                <div>Link</div>
                <a mat-mini-fab routerLink="." disabled><mat-icon>search</mat-icon></a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>FAB</div>
        </mat-card-header>
        <mat-card-content class="fab-demo">
            <div>
                <button mat-fab><mat-icon>search</mat-icon></button>
                <div>Basic</div>
                <button mat-fab disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <button mat-fab color="primary"><mat-icon>search</mat-icon></button>
                <div>Primary</div>
                <button mat-fab color="primary" disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <button mat-fab color="accent"><mat-icon>search</mat-icon></button>
                <div>Accent</div>
                <button mat-fab color="accent" disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <button mat-fab color="warn"><mat-icon>search</mat-icon></button>
                <div>Warn</div>
                <button mat-fab color="warn" disabled><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <a mat-fab routerLink="."><mat-icon>search</mat-icon></a>
                <div>Link</div>
                <a mat-fab routerLink="." disabled><mat-icon>search</mat-icon></a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Button Toggle Group (default)</div>
        </mat-card-header>
        <mat-card-content>
            <mat-button-toggle-group name="fontStyle">
                <mat-button-toggle value="bold">Bold</mat-button-toggle>
                <mat-button-toggle value="italic">Italic</mat-button-toggle>
                <mat-button-toggle value="underline">Underline</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Button Toggle Group Outline</div>
        </mat-card-header>
        <mat-card-content>
            <mat-button-toggle-group variant="outline" name="fontStyle">
                <mat-button-toggle value="bold">Red</mat-button-toggle>
                <mat-button-toggle value="italic">Green</mat-button-toggle>
                <mat-button-toggle value="underline">Yellow</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Button Toggle Group Filled</div>
        </mat-card-header>
        <mat-card-content>
            <mat-button-toggle-group variant="filled" name="fontStyle">
                <mat-button-toggle value="bold">Drafts</mat-button-toggle>
                <mat-button-toggle value="italic">Pending</mat-button-toggle>
                <mat-button-toggle value="underline">Approved</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Checkbox</div>
        </mat-card-header>
        <mat-card-content class="checkbox-demo">
            <div class="check-item-line">
                <mat-checkbox [checked]="true">Basic</mat-checkbox>
            </div>
            <div class="check-item-line">
                <mat-checkbox [checked]="true" color="primary">Primary</mat-checkbox>
            </div>
            <div class="check-item-line">
                <mat-checkbox [checked]="true" color="accent">Accent</mat-checkbox>
            </div>
            <div class="check-item-line">
                <mat-checkbox [checked]="true" color="warn">Warn</mat-checkbox>
            </div>
            <div class="check-item-line">
                <mat-checkbox [checked]="false" [indeterminate]="true">Indeterminate</mat-checkbox>
            </div>
            <div class="check-item-line">
                <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Radio Button</div>
        </mat-card-header>
        <mat-card-content class="radio-demo">
            <mat-radio-group aria-label="Select an option">
                <div class="check-item-line">
                    <mat-radio-button value="1" [checked]="false">Basic</mat-radio-button>
                </div>
                <div class="check-item-line">
                    <mat-radio-button value="2" [checked]="true" color="primary">Primary</mat-radio-button>
                </div>
                <div class="check-item-line">
                    <mat-radio-button value="3" [checked]="true" color="accent">Accent</mat-radio-button>
                </div>
                <div class="check-item-line">
                    <mat-radio-button value="4" [checked]="true" color="warn">Warn</mat-radio-button>
                </div>
                <div class="check-item-line">
                    <mat-radio-button value="5" disabled="true">Disabled</mat-radio-button>
                </div>
            </mat-radio-group>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Date Picker</div>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Standard Select</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field>
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field color="primary">
                    <mat-label>Primary</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field color="accent">
                    <mat-label>Accent</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field color="warn">
                    <mat-label>Warn</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Disabled</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select disabled="true">
                        <mat-option value="Test">Test</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Required</mat-label>
                    <mat-select [formControl]="errorControl" [errorStateMatcher]="errorMatcher">
                        <mat-option value="Test">Test</mat-option>
                    </mat-select>
                    <mat-error>Hint</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Outline Select</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Primary</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Accent</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Warn</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Disabled</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select disabled="true">
                        <mat-option value="Test">Test</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Required</mat-label>
                    <mat-select [formControl]="errorControl" [errorStateMatcher]="errorMatcher">
                        <mat-option value="Test">Test</mat-option>
                    </mat-select>
                    <mat-error>Hint</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Fill Select</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" color="primary">
                    <mat-label>Primary</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Accent</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" color="warn">
                    <mat-label>Warn</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select>
                        <mat-option value="test1">Test 1</mat-option>
                        <mat-option value="test2">Test 2</mat-option>
                        <mat-option value="test3">Test 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Disabled</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-select disabled="true">
                        <mat-option value="Test">Test</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Required</mat-label>
                    <mat-select [formControl]="errorControl" [errorStateMatcher]="errorMatcher">
                        <mat-option value="Test">Test</mat-option>
                    </mat-select>
                    <mat-error>Hint</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Slider</div>
        </mat-card-header>
        <mat-card-content class="slider-demo-content">
            Default: <br />
            <div>
                <div class="slider-subtype">Active</div>
                <div class="slider-demo">
                    <mat-icon>volume_down</mat-icon>
                    <mat-slider
                        style="width: 100%"
                        thumbLabel
                        value="50"
                        tickInterval="10"
                        min="1"
                        max="100"
                    ></mat-slider>
                    <mat-icon>volume_up</mat-icon>
                </div>
                <div class="slider-subtype">Disabled</div>
                <div class="slider-demo">
                    <mat-icon>volume_down</mat-icon>
                    <mat-slider
                        style="width: 100%"
                        value="50"
                        disabled
                        thumbLabel
                        tickInterval="10"
                        min="1"
                        max="100"
                    ></mat-slider>
                    <mat-icon>volume_up</mat-icon>
                </div>
            </div>
            <div style="margin: 16px 0">Primary</div>
            <div>
                <div class="slider-subtype">Active</div>
                <div class="slider-demo">
                    <mat-icon>volume_down</mat-icon>
                    <mat-slider
                        color="primary"
                        value="50"
                        style="width: 100%"
                        thumbLabel
                        tickInterval="10"
                        min="1"
                        max="100"
                    ></mat-slider>
                    <mat-icon>volume_up</mat-icon>
                </div>
                <div class="slider-subtype">Disabled</div>
                <div class="slider-demo">
                    <mat-icon>volume_down</mat-icon>
                    <mat-slider
                        color="primary"
                        value="50"
                        style="width: 100%"
                        disabled
                        thumbLabel
                        tickInterval="10"
                        min="1"
                        max="100"
                    ></mat-slider>
                    <mat-icon>volume_up</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Switch</div>
        </mat-card-header>
        <mat-card-content class="switch-demo-content">
            <div>Default</div>
            <div class="slide-row">
                <div>
                    <div>Active</div>
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled</div>
                    <mat-slide-toggle disabled></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled Checked</div>
                    <mat-slide-toggle disabled checked="true"></mat-slide-toggle>
                </div>
            </div>
            <div>Primary</div>
            <div class="slide-row">
                <div>
                    <div>Active</div>
                    <mat-slide-toggle color="primary"></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled</div>
                    <mat-slide-toggle disabled color="primary"></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled Checked</div>
                    <mat-slide-toggle disabled checked="true" color="primary"></mat-slide-toggle>
                </div>
            </div>
            <div>Secondary</div>
            <div class="slide-row">
                <div>
                    <div>Active</div>
                    <mat-slide-toggle color="accent"></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled</div>
                    <mat-slide-toggle disabled color="accent"></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled Checked</div>
                    <mat-slide-toggle disabled checked="true" color="accent"></mat-slide-toggle>
                </div>
            </div>
            <div class="slide-row">
                <div>
                    <div>Active</div>
                    <mat-slide-toggle color="warn"></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled</div>
                    <mat-slide-toggle disabled color="warn"></mat-slide-toggle>
                </div>
                <div>
                    <div>Disabled Checked</div>
                    <mat-slide-toggle disabled checked="true" color="warn"></mat-slide-toggle>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Legacy Text Field</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field appearance="legacy">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <input disabled matInput placeholder="Placeholder" />
                    <mat-label>Disabled</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <input matInput placeholder="Prefix Suffix Buttons" />
                    <mat-label>Buttons</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Required</mat-label>
                    <input
                        matInput
                        placeholder="Placeholder"
                        [formControl]="errorControl"
                        [errorStateMatcher]="errorMatcher"
                    />
                    <mat-error>Hint</mat-error>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Standard Text Field</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field appearance="standard">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <input disabled matInput placeholder="Placeholder" />
                    <mat-label>Disabled</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <input matInput placeholder="Prefix Suffix Buttons" />
                    <mat-label>Buttons</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Required</mat-label>
                    <input
                        matInput
                        placeholder="Placeholder"
                        [formControl]="errorControl"
                        [errorStateMatcher]="errorMatcher"
                    />
                    <mat-error>Hint</mat-error>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Filled Text Field</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <input disabled matInput placeholder="Placeholder" />
                    <mat-label>Disabled</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Prefix Suffix Buttons" />
                    <mat-label>Buttons</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Required</mat-label>
                    <input
                        matInput
                        placeholder="Placeholder"
                        [formControl]="errorControl"
                        [errorStateMatcher]="errorMatcher"
                    />
                    <mat-error>Hint</mat-error>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Outlined Text Field</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input disabled matInput placeholder="Placeholder" />
                    <mat-label>Disabled</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Prefix Suffix Buttons" />
                    <mat-label>Buttons</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Required</mat-label>
                    <input
                        matInput
                        placeholder="Placeholder"
                        [formControl]="errorControl"
                        [errorStateMatcher]="errorMatcher"
                    />
                    <mat-error>Hint</mat-error>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>BLUI Input (button)</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field blui-input appearance="standard">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Standard</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field blui-input appearance="legacy">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Legacy</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field blui-input appearance="standard">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Standard</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field blui-input appearance="outline">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field blui-input appearance="fill">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <button mat-icon-button matPrefix>
                        <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix>
                        <mat-icon matPrefix>info</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>BLUI Input (icon)</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field blui-input appearance="legacy">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Legacy</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field blui-input appearance="standard">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Standard</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field blui-input appearance="outline">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field blui-input appearance="fill">
                    <input matInput placeholder="Placeholder" />
                    <mat-label>Default</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <mat-hint align="end">0/10</mat-hint>
                    <mat-icon matSuffix>info</mat-icon>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Text Area</div>
        </mat-card-header>
        <mat-card-content class="mat-select-demo">
            <div>
                <mat-form-field>
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>
