<mat-card style="padding: 0">
  <mat-list style="padding: 0">
    <pxb-hero-banner [divider]="true">
      <pxb-hero label="Healthy" value="96" units="/100" (click)="test()" style="cursor: pointer">
        <mat-icon svgIcon="px-icons:grade_a" primary [style.color]="colors.green[500]"></mat-icon>
      </pxb-hero>

      <pxb-hero label="Load">
        <pie-progress class="progress-icon" percent="65" size="36" primary></pie-progress>
        <pxb-channel-value value="65" units="%">
          <mat-icon class="output" [style.color]="colors.red['500']">trending_up</mat-icon>
        </pxb-channel-value>
      </pxb-hero>

      <pxb-hero label="Estimated">
        <mat-icon primary>timer</mat-icon>
        <pxb-channel-value value="1" units="h"></pxb-channel-value>
        <pxb-channel-value value="26" units="m"></pxb-channel-value>
      </pxb-hero>

      <pxb-hero label="Battery" value="Full">
        <battery-progress class="progress-icon" percent="90" size="36" primary></battery-progress>
      </pxb-hero>

    </pxb-hero-banner>
  </mat-list>

  <mat-list class="list">
    <mat-list-item>
      <mat-icon mat-list-icon svgIcon="px-icons:leaf" class="list-icon"></mat-icon>
      <h4 class="mat-h3 list-label">Status</h4>
      <div class="list-value">
        <pxb-channel-value value="Online, ESS+"></pxb-channel-value>
      </div>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled" class="list-icon"></mat-icon>
      <h4 class="mat-h3 list-label">Input Voltage</h4>
      <div class="list-value">
        <pxb-channel-value value="478" units="V"></pxb-channel-value>,
        <pxb-channel-value value="479" units="V"></pxb-channel-value>,
        <pxb-channel-value value="473" units="V"></pxb-channel-value>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="error">
      <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled" class="list-icon" color="red"></mat-icon>
      <h4 class="mat-h3 list-label">Output Voltage</h4>
      <div class="list-value">
        <pxb-channel-value value="480" units="V"></pxb-channel-value>,
        <pxb-channel-value value="480" units="V"></pxb-channel-value>,
        <pxb-channel-value value="480" units="V"></pxb-channel-value>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon svgIcon="px-icons:current_circled" class="list-icon" color="red"></mat-icon>
      <h4 class="mat-h3 list-label">Output Current</h4>
      <div class="list-value">
        <pxb-channel-value value="15" units="A"></pxb-channel-value>,
        <pxb-channel-value value="15" units="A"></pxb-channel-value>,
        <pxb-channel-value value="15" units="A"></pxb-channel-value>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon svgIcon="px-icons:temp" class="list-icon" color="red"></mat-icon>
      <h4 class="mat-h3 list-label">Temperature</h4>
      <div class="list-value">
        <pxb-channel-value value="68" units="°F">
          <mat-icon>trending_up</mat-icon>
        </pxb-channel-value>
      </div>
    </mat-list-item>
  </mat-list>


</mat-card>