.pxb-hero-banner {
    display: flex;
}

.pxb-hero-banner-content {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;

    pxb-hero {
        flex: 1 1 0;
    }

    pxb-hero:nth-child(n + 5) {
        display: none;
    }
}
