@import '~@pxblue/colors/palette';
:host {
    flex: 1 1 0px;
}
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    overflow: hidden;
    color: map-get($pxb-gray, 500);
    padding: 16px 8px;

    // Icon Styles
    .primary-container {
        padding: 3px;
        $normal: 32px;
        $large: 72px;
        color: map-get($pxb-gray, 800);
        border-radius: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    // Channel Value Styles
    .channel-value {
        display: flex;
        color: map-get($pxb-gray, 800);
    }

    // Label Styles
    .label {
        font-size: inherit;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 600;
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
    }
}

:host ::ng-deep .primary-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

/* SVG icons require a transform to scale.  We use 'normal' or 'large' iconSize to determine how much to scale. */
/*
:host ::ng-deep .primary-container mat-icon {
    margin-top: 0;
    line-height: 1.1;
    svg {
        transform: scale(1.2);
        transform-origin: top left;
    }
}
:host ::ng-deep .primary-container.large mat-icon {
    svg {
        transform: scale(3);
    }
}
*/
