@import '../utility/utility';

/* RTL */
[dir='rtl'] .pxb-hero {
    .pxb-hero-primary-wrapper {
        > * {
            @include invert();
        }
    }
}

.pxb-hero {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    overflow: hidden;
    padding: 16px 8px;

    .pxb-hero-primary-wrapper {
        $normal: 32px;
        $large: 72px;
        border-radius: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    .pxb-hero-channel-value-wrapper {
        display: flex;
        font-size: 1.25rem;
    }

    .pxb-hero-label {
        font-size: inherit;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight: 600;
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
    }

    .pxb-hero-primary-wrapper {
        * {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 100%;
        }
        &:not(.pxb-hero-svgIcon) > * {
            width: 100%;
            height: 100%;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        &.pxb-hero-svgIcon svg {
            transform-origin: top left;
        }
    }
}
