.pxb-drawer {
    width: 350px;

    &.pxb-drawer-persistent.pxb-drawer-closed {
        width: 56px;
    }

    &.pxb-drawer-temporary.pxb-drawer-closed {
        transform: translateX(-100%);
    }
}
