<div class="showcase-container blui-data-display-container">
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Channel Value</div>
        </mat-card-header>
        <mat-card-content>
            <div class="story-title">Basic Usage</div>
            <blui-channel-value [value]="123"></blui-channel-value>
            <div class="story-title">W/ Units</div>
            <blui-channel-value [value]="123" units="hz"></blui-channel-value>
            <div class="story-title">W/ Icon</div>
            <blui-channel-value [value]="123" units="hz">
                <mat-icon [style.color]="colors.red[500]" [style.transform]="rtl.invertRTL()">trending_up</mat-icon>
            </blui-channel-value>
            <div class="story-title">W/ Custom Font Size</div>
            <blui-channel-value [value]="123" units="hz" style="font-size: 24px">
                <mat-icon [style.color]="colors.red[500]" [style.transform]="rtl.invertRTL()">trending_up</mat-icon>
            </blui-channel-value>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Empty State</div>
        </mat-card-header>
        <mat-card-content>
            <div class="story-title">Basic Usage</div>
            <blui-empty-state title="Location Unknown">
                <mat-icon blui-empty-icon [style.transform]="rtl.invertRTL()">not_listed_location</mat-icon>
            </blui-empty-state>
            <div class="story-title">W/ Description</div>
            <blui-empty-state
                title="Location Unknown"
                description="Enable Location Services via Settings to receive GPS information"
            >
                <mat-icon blui-empty-icon [style.transform]="rtl.invertRTL()">not_listed_location</mat-icon>
            </blui-empty-state>
            <div class="story-title">W/ Actions</div>
            <blui-empty-state
                title="Location Unknown"
                description="Enable Location Services via Settings to receive GPS information"
            >
                <mat-icon blui-empty-icon>devices</mat-icon>
                <button blui-actions mat-stroked-button color="primary">
                    <mat-icon
                        style="height: 20px; width: 20px; font-size: 20px"
                        [style.marginRight.px]="rtl.isRtl() ? -4 : 8"
                        [style.marginLeft.px]="rtl.isRtl() ? 8 : -4"
                    >
                        add
                    </mat-icon>
                    Add Device
                </button>
            </blui-empty-state>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Hero</div>
        </mat-card-header>
        <mat-card-content>
            <div class="multi-line-example">
                <div>
                    <div class="story-title">Basic Usage</div>
                    <blui-hero label="Efficiency">
                        <i blui-primary class="blui-grade_a"></i>
                    </blui-hero>
                </div>
                <div>
                    <div class="story-title">w/ Value and Units</div>
                    <blui-hero label="Efficiency" value="88" units="%">
                        <i blui-primary class="blui-grade_b"></i>
                    </blui-hero>
                </div>
            </div>

            <div class="multi-line-example">
                <div>
                    <div class="story-title">w/ Channel Value Children</div>
                    <blui-hero label="Efficiency">
                        <mat-icon blui-primary>schedule</mat-icon>
                        <blui-channel-value value="1" units="h"></blui-channel-value>
                        <blui-channel-value value="27" units="m"></blui-channel-value>
                    </blui-hero>
                </div>
                <div>
                    <div class="story-title">w/ Icon Colors</div>
                    <blui-hero label="Temperature" value="38" units="°C" [iconBackgroundColor]="colors.red[500]">
                        <i blui-primary class="blui-temp" [style.color]="colors.white[50]"></i>
                    </blui-hero>
                </div>
            </div>
            <div class="story-title" style="text-align: center">Within a HeroBanner</div>
            <blui-hero-banner [style.borderColor]="colors.gray[50]" style="border: solid 1px; border-radius: 4px">
                <blui-hero label="Health" value="96" units="/100">
                    <i blui-primary class="blui-grade_a"></i>
                </blui-hero>
                <blui-hero label="Load" value="90" units="%">
                    <i blui-primary class="blui-grade_b"></i>
                </blui-hero>
                <blui-hero label="Temp" value="96" units="C">
                    <mat-icon blui-primary>schedule</mat-icon>
                </blui-hero>
                <blui-hero label="Battery" value="96" units="/100" [iconBackgroundColor]="colors.red[500]">
                    <i blui-primary class="blui-temp" [style.color]="colors.white[50]"></i>
                </blui-hero>
            </blui-hero-banner>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Info List Item</div>
        </mat-card-header>
        <mat-card-content>
            <mat-nav-list>
                <blui-info-list-item>
                    <span blui-title>Basic Usage</span>
                </blui-info-list-item>
                <blui-info-list-item>
                    <span blui-title>Info List Item</span>
                    <span blui-subtitle>with a Subtitle</span>
                </blui-info-list-item>
                <blui-info-list-item>
                    <span blui-title>Info List Item</span>
                    <span blui-subtitle>with an icon</span>
                    <mat-icon blui-icon>alarm</mat-icon>
                </blui-info-list-item>
                <blui-info-list-item [divider]="'partial'">
                    <span blui-title>Info List Item</span>
                    <span blui-subtitle>with a partial divider</span>
                </blui-info-list-item>
                <blui-info-list-item [divider]="'full'">
                    <span blui-title>Info List Item</span>
                    <span blui-subtitle>with a full divider</span>
                </blui-info-list-item>
                <blui-info-list-item
                    class="display-info-list-item"
                    (click)="handleInfoListItemClick()"
                    [disabled]="false"
                >
                    <span blui-title>Info List Item</span>
                    <span blui-subtitle>that is clickable</span>
                </blui-info-list-item>
                <blui-info-list-item
                    class="display-info-list-item"
                    (click)="handleInfoListItemClick()"
                    [disabled]="true"
                >
                    <span blui-title>Info List Item</span>
                    <span blui-subtitle>that is clickable & disabled</span>
                </blui-info-list-item>
                <blui-info-list-item [statusColor]="colors.green[700]" [avatar]="true">
                    <div blui-title>Info List Item</div>
                    <div blui-subtitle>with a status indicator</div>
                    <mat-icon blui-icon [style.backgroundColor]="colors.green[700]" [style.color]="colors.white[50]"
                        >offline_bolt</mat-icon
                    >
                </blui-info-list-item>
                <blui-info-list-item [style.backgroundColor]="colors.yellow[500]">
                    <div blui-title>Info List Item</div>
                    <div blui-subtitle>with a background color</div>
                    <mat-icon blui-icon>eco</mat-icon>
                </blui-info-list-item>
                <blui-info-list-item>
                    <div blui-title>Info List Item</div>
                    <div blui-subtitle>with a left component</div>
                    <mat-icon [style.color]="colors.blue[500]" blui-icon>battery_charging_full</mat-icon>
                    <div
                        blui-left-content
                        style="display: flex; flex-direction: column"
                        [style.marginRight.px]="rtl.isRtl() ? 0 : 48"
                        [style.marginLeft.px]="rtl.isRtl() ? 48 : 0"
                    >
                        <div class="mat-body-2">8:32 <strong>AM</strong></div>
                        <div class="mat-body-2" style="margin-top: -4px">11/21/21</div>
                    </div>
                </blui-info-list-item>
                <blui-info-list-item>
                    <div blui-title>Info List Item</div>
                    <div blui-subtitle>with a right component</div>
                    <mat-icon [style.color]="colors.blue[500]" blui-icon>battery_charging_full</mat-icon>
                    <blui-channel-value [value]="15" units="A" blui-right-content></blui-channel-value>
                </blui-info-list-item>
                <blui-info-list-item [statusColor]="colors.blue[500]">
                    <div blui-title>Info List Item</div>
                    <div blui-subtitle>with all properties</div>
                    <div blui-info>more information here</div>
                    <mat-icon blui-icon>devices</mat-icon>
                </blui-info-list-item>
                <blui-info-list-item [statusColor]="colors.blue[500]" [disabled]="true">
                    <div blui-title>Disabled Info List Item</div>
                    <div blui-subtitle>No click-event has been applied</div>
                    <div blui-info>more information here</div>
                    <mat-icon blui-icon>devices</mat-icon>
                </blui-info-list-item>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>List Item Tag</div>
        </mat-card-header>
        <mat-card-content>
            <div class="multi-line-example">
                <div>
                    <div class="story-title">Basic Usage</div>
                    <blui-list-item-tag label="Active"></blui-list-item-tag>
                </div>
                <div>
                    <div class="story-title" style="text-align: center">w/ Custom Colors</div>
                    <blui-list-item-tag
                        label="Active"
                        [backgroundColor]="colors.red[500]"
                        [fontColor]="colors.white[50]"
                    ></blui-list-item-tag>
                </div>
            </div>
            <div class="story-title" style="text-align: center">Within an InfoListItem</div>
            <blui-info-list-item>
                <div blui-title>Info List Item</div>
                <div blui-subtitle>with a ListItemTag component to the right</div>
                <mat-icon blui-icon [style.color]="colors.blue[500]">battery_charging_full</mat-icon>
                <div blui-right-content>
                    <blui-list-item-tag
                        label="Build Passing"
                        [style.marginRight.px]="rtl.isRtl() ? 0 : 16"
                        [style.marginLeft.px]="rtl.isRtl() ? 16 : 0"
                        [backgroundColor]="colors.green[300]"
                        [fontColor]="colors.black[900]"
                    >
                    </blui-list-item-tag>
                    <blui-list-item-tag
                        label="5 Bugs"
                        [backgroundColor]="colors.red[300]"
                        [fontColor]="colors.black[900]"
                    >
                    </blui-list-item-tag>
                </div>
            </blui-info-list-item>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Three Liner</div>
        </mat-card-header>
        <mat-card-content>
            <blui-three-liner
                title="Three Liner Component"
                subtitle="with basic usage"
                info="...and a third line"
                style="margin: 1rem 0 2rem 0"
            >
            </blui-three-liner>
            <blui-three-liner title="Three Liner Component" subtitle="with custom content">
                <blui-channel-value [value]="123" units="hz" blui-info>
                    <mat-icon [style.color]="colors.red[500]" [style.transform]="rtl.invertRTL()">trending_up</mat-icon>
                </blui-channel-value>
            </blui-three-liner>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>User Menu</div>
        </mat-card-header>
        <mat-card-content>
            <div class="multi-line-example">
                <div>
                    <div class="story-title">Basic Usage</div>
                    <blui-user-menu avatarValue="PX" [(open)]="userMenuOpen1">
                        <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
                            <blui-info-list-item
                                *ngFor="let item of userMenuItems"
                                [dense]="true"
                                (click)="userMenuOpen1 = false"
                            >
                                <mat-icon blui-icon [style.transform]="rtl.invertRTL()">{{ item.icon }}</mat-icon>
                                <div blui-title>{{ item.title }}</div>
                            </blui-info-list-item>
                        </mat-nav-list>
                    </blui-user-menu>
                </div>
                <div>
                    <div class="story-title">w/ Custom Colors</div>
                    <blui-user-menu avatarValue="PX" [(open)]="userMenuOpen2" class="user-menu-with-custom-colors">
                        <mat-nav-list blui-menu-body [style.paddingTop.px]="0" class="user-menu-custom-colors-body">
                            <blui-info-list-item
                                *ngFor="let item of userMenuItems"
                                [dense]="true"
                                (click)="userMenuOpen2 = false"
                            >
                                <mat-icon blui-icon [style.transform]="rtl.invertRTL()">{{ item.icon }}</mat-icon>
                                <div blui-title>{{ item.title }}</div>
                            </blui-info-list-item>
                        </mat-nav-list>
                    </blui-user-menu>
                </div>
            </div>
            <div class="multi-line-example">
                <div>
                    <div class="story-title">w/ Non-Text Avatar</div>
                    <blui-user-menu [(open)]="userMenuOpen3">
                        <mat-icon blui-avatar>pets</mat-icon>
                        <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
                            <blui-info-list-item
                                *ngFor="let item of userMenuItems"
                                [dense]="true"
                                (click)="userMenuOpen3 = false"
                            >
                                <mat-icon blui-icon [style.transform]="rtl.invertRTL()">{{ item.icon }}</mat-icon>
                                <div blui-title>{{ item.title }}</div>
                            </blui-info-list-item>
                        </mat-nav-list>
                    </blui-user-menu>
                </div>
                <div>
                    <div class="story-title">w/ a Menu Header</div>
                    <blui-user-menu
                        [(open)]="userMenuOpen4"
                        avatarValue="PX"
                        menuTitle="Menu Title"
                        menuSubtitle="Menu Subtitle"
                    >
                        <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
                            <blui-info-list-item
                                *ngFor="let item of userMenuItems"
                                [dense]="true"
                                (click)="userMenuOpen4 = false"
                            >
                                <mat-icon blui-icon [style.transform]="rtl.invertRTL()">{{ item.icon }}</mat-icon>
                                <div blui-title>{{ item.title }}</div>
                            </blui-info-list-item>
                        </mat-nav-list>
                    </blui-user-menu>
                </div>
            </div>
            <mat-toolbar style="padding: 0 16px; margin-top: 2rem; height: 4rem" color="primary">
                <div class="mat-title">UserMenu with a Toolbar</div>
                <blui-spacer></blui-spacer>
                <blui-user-menu menuTitle="Jane Doe" menuSubtitle="Account Manager" [(open)]="userMenuOpen5">
                    <mat-icon blui-avatar>person</mat-icon>
                    <mat-icon blui-menu-avatar [style.color]="colors.blue[500]">person</mat-icon>
                    <div blui-menu-body>
                        <mat-nav-list [style.paddingTop.px]="0" [style.width.rem]="12">
                            <blui-info-list-item
                                *ngFor="let item of userMenuItems"
                                [dense]="true"
                                (click)="userMenuOpen5 = false"
                            >
                                <mat-icon blui-icon [style.transform]="rtl.invertRTL()">{{ item.icon }}</mat-icon>
                                <div blui-title>{{ item.title }}</div>
                            </blui-info-list-item>
                        </mat-nav-list>
                        <mat-divider></mat-divider>
                        <div
                            style="padding: 0 16px; font-size: 12px; line-height: 40px; height: 40px"
                            [style.textAlign]="rtl.isRtl() ? 'left' : 'right'"
                        >
                            v1.03.54
                        </div>
                    </div>
                </blui-user-menu>
            </mat-toolbar>
        </mat-card-content>
    </mat-card>
</div>
