@use '@brightlayer-ui/colors/palette.scss';

.blui-data-display-container {
    .user-menu-with-custom-colors .blui-user-menu-avatar {
        color: map-get(palette.$blui-white, 50);
        background-color: map-get(palette.$blui-blue, 800);
    }
    .blui-user-menu {
        justify-content: center;
    }
}
.user-menu-custom-colors-body {
    mat-icon {
        color: map-get(palette.$blui-blue, 800);
    }
}
