.pxb-score-card {
    display: flex;
}

.pxb-score-card-content.mat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.pxb-score-card-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 6rem;
    box-sizing: border-box;
    position: relative;
    * {
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .pxb-score-card-header-background {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }
    .pxb-score-card-header-wrapper {
        padding: 1rem;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    .pxb-score-card-action-items-wrapper {
        text-overflow: unset;
        overflow: unset;
        margin-right: -0.75rem;
        > * {
            cursor: pointer;
            margin-right: 0.75rem;
            text-align: center;
            /* mat-icon, font-icon, etc */
            font-size: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    .pxb-score-card-title {
        font-weight: 600;
        line-height: 1;
        font-size: 1.25rem;
        margin-bottom: 0.6rem;
    }
    .pxb-score-card-subtitle {
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0;
        margin-bottom: 0.125rem;
        line-height: 1.25;
    }
    .pxb-score-card-info {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 2;
    }
}

.pxb-score-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pxb-score-card-badge-wrapper {
        z-index: 1;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.pxb-score-card-action-row-wrapper {
    cursor: pointer;
}

