@import '~@pxblue/colors/palette.scss';

.pxb-root {
    padding: 0;
}

// Styles applied to supplied action items.pxb-
:host ::ng-deep .pxb-action-items * {
    margin-left: 12px;
    cursor: pointer;
}

.pxb-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 100px;
    box-sizing: border-box;
    position: relative;
    background-color: map_get($pxb-blue, 500);
    color: map_get($pxb-white, 50);
    * {
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .pxb-header-background {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }
    .pxb-header-wrapper {
        padding: 16px;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    .pxb-action-items-wrapper {
        text-overflow: unset;
        overflow: unset;
       ::ng-deep > * {
            cursor: pointer;
            height: 32px;
            width: 32px;
            text-align: center;
        }
    }
    .pxb-title {
        font-weight: 600;
        line-height: 1.6;
        font-size: 1.125rem;
        margin-bottom: 0;
    }
    .pxb-subtitle {
        font-weight: 400;
        margin: 0;
        line-height: 1.25;
    }
    .pxb-info {
        font-weight: 200;
        line-height: 2;
    }
}

.pxb-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pxb-badge-wrapper {
        z-index: 1;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.pxb-action-row-wrapper {
    cursor: pointer;
}
