@import '~@pxblue/angular-themes/theme.scss';
@import '~@pxblue/colors/palette.scss';

.root {
    padding: 0;
}

// Styles applied to supplied action items.
:host ::ng-deep .action-items * {
    margin-left: 12px;
    cursor: pointer;
}

.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100px;
    box-sizing: border-box;
    background-color: map-get($pxb-blue-primary, 500);
    color: map-get($pxb-white, 50);
    position: relative;
    * {
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .header-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }
    .header-wrapper {
        padding: 16px;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    .action-items {
        text-overflow: unset;
        overflow: unset;
    }
    .title {
        font-weight: 600;
        line-height: 1.6;
        font-size: 1.125rem;
        margin-bottom: 0;
    }
    .subtitle {
        font-weight: 400;
        margin: 0;
        line-height: 1.2;
    }
    .info {
        font-weight: 200;
        line-height: 2;
    }
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .badge-wrapper {
        z-index: 1;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.action-row {
    cursor: pointer;
}
