@import '../utility/utility';

/* RTL */
[dir='rtl'] .blui-score-card-header .blui-score-card-action-items-wrapper {
    > * {
        margin-right: 0;
        margin-left: 16px;
    }
    > :last-child {
        margin-left: 0;
    }
}

.blui-score-card {
    display: flex;
}

.blui-score-card-content.mat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.blui-score-card-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 6rem;
    box-sizing: border-box;
    position: relative;
    * {
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .blui-score-card-header-background {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }
    .blui-score-card-header-wrapper {
        padding: 1rem 16px 0 16px;
        display: flex;
        justify-content: space-between;
    }
    .blui-score-card-action-items-wrapper {
        text-overflow: unset;
        overflow: unset;
        > * {
            cursor: pointer;
            margin-right: 16px;
            text-align: center;
            @include scale-icon-content();
        }
        > :last-child {
            margin-right: 0;
        }
    }
    .blui-score-card-title {
        font-weight: 600;
        line-height: 1;
        font-size: 1.25rem;
        margin-bottom: 0.6rem;
    }
    .blui-score-card-subtitle {
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0;
        margin-bottom: 0.125rem;
        line-height: 1.25;
    }
    .blui-score-card-info {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 2;
    }
}

.blui-score-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .blui-score-card-badge-wrapper {
        z-index: 1;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.blui-score-card-action-row-wrapper {
    cursor: pointer;
}
