@import '~@pxblue/angular-themes/theme.scss';
@import '~@pxblue/colors/palette.scss';

.pxb-scorecard {
  padding: 0;
}

// Styles applied to supplied action items.
:host ::ng-deep .header-action-items * {
  margin-left: 12px;
}

.header {
  border-radius: 4px;
  height: 100px;
  box-sizing: border-box;
  background-color: map-get($pxb-blue-primary, 500);
  color: map-get($pxb-white, 50);
  position: relative;
  * {
    color: inherit;
  }
  .header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-position: center;
    background-size: cover;
  }
  .header-wrapper {
    padding: 16px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-weight: 600;
    line-height: 1.6;
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  .subtitle {
    font-weight: 400;
    margin: 0;
  }
  .info {
    font-weight: 200;
  }
  .subtitle, .info {
    line-height: 1.4;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .badge-wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }
}