.pxb-drawer-body {
    width: 100%;
}

.pxb-drawer-nested-nav-item {
    .pxb-info-list-item .mat-list-item-content {
        padding-left: 24px;
        font-size: 12px;
        height: 52px;
    }
}
