.pxb-selection-toolbar-icon-wrapper {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-right: 24px;
    margin-left: -8px;
    &.pxb-selection-toolbar-no-icon {
        margin-right: 8px;
    }
}

.pxb-selection-toolbar-text-content-container {
    display: block;
    padding-right: 16px;

    .pxb-selection-toolbar-title {
        line-height: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pxb-selection-toolbar-subtitle-container {
        margin-top: -2px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        cursor: pointer;

        .pxb-selection-toolbar-subtitle {
            font-weight: 300;
            line-height: 1.3rem;
        }
    }
}
