/* You can add global styles to this file, and also import other style files */
@import '~@pxblue/angular-themes/theme.scss';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background-color: map-get($pxb-gray, 50);
}
