/* You can add global styles to this file, and also import other style files */
@import '~@pxblue/angular-themes/theme.scss';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;

    // for light theme
    background-color: map-get($pxb-gray, 50);

    // for dark theme
    // background-color: map-get($pxb-darkBlack, 100);
}
