:host {
    display: inline-flex;
    align-items: center;
}

.pxb-channel-value {
    display: flex;
    line-height: 1.2;

    .pxb-channel-value-text {
        font-size: inherit;
        letter-spacing: 0;
        margin: 0;
    }

    .pxb-channel-value-units {
        font-weight: 300;
    }

    .pxb-channel-value-value {
        font-weight: 600;
    }

    .pxb-channel-value-icon {
        font-size: inherit;
        display: block;
        margin-right: 4px;
        &:empty {
            display: none;
        }
        * {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 100%;
            line-height: 1.2;
        }
    }
}
