/* RTL */
[dir=rtl] .pxb-channel-value .pxb-channel-value-icon-wrapper {
    margin-right: 0;
    margin-left: 4px;
}

.pxb-channel-value {
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    font-size: inherit;
    letter-spacing: 0;
    margin: 0;

    .pxb-channel-value-units {
        font-weight: 300;
    }

    .pxb-channel-value-value {
        font-weight: 600;
    }

    .pxb-channel-value-icon-wrapper {
        font-size: inherit;
        display: block;
        &:empty {
            display: none;
        }
        * {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 100%;
            line-height: 1.2;
        }
    }
}
