@use '@brightlayer-ui/colors/palette.scss' as blui;

.toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    padding: 0 24px;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

::ng-deep .app-navigation-drawer .blui-drawer-header-background {
    background-image: linear-gradient(to right, rgb(0, 123, 193) 22.4%, rgba(0, 123, 193, 0.2) 100%),
        url('../../assets/box-background.png');
    background-size: contain;
    background-position: right center;
}
.framework-chip {
    margin-left: 12px;
    .mat-standard-chip {
        min-height: 24px;
        margin: 0;
    }
    div {
        color: map-get(blui.$blui-blue, 500) !important;
    }
}
