:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pxb-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pxb-empty-state-title {
        margin-bottom: 0;
    }

    .pxb-empty-state-title, .pxb-empty-state-description {
        text-align: center;
    }

    .pxb-empty-state-empty-icon-wrapper {
        line-height: 1;
        > * {
            display: block;
            font-size: 100px;
            height: 100%;
            width: 100%;
            text-align: center;
        }
    }
}
