@import '../utility/utility';

/* RTL */
[dir='rtl'] .pxb-empty-state .pxb-empty-state-empty-icon-wrapper > * {
    @include invert();
}

.pxb-empty-state {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pxb-empty-state-title {
        margin-bottom: 0;
    }

    .pxb-empty-state-description {
        margin-bottom: 8px;
    }

    .pxb-empty-state-title,
    .pxb-empty-state-description {
        text-align: center;
        font-weight: 600;
    }

    .pxb-empty-state-empty-icon-wrapper {
        line-height: 1;
        > * {
            display: block;
            font-size: 100px;
            height: 100%;
            width: 100%;
            text-align: center;
        }
    }
}
