html,
body,
#root,
.wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #efefef;
}
*{
    box-sizing: border-box;
}