.blui-toolbar-menu {
    display: flex;
    align-items: center;

    .blui-toolbar-menu-toggle-icon {
        transition: transform 250ms;
    }
    .blui-rotated-dropdown-arrow {
        transform: rotate(180deg);
    }
    .blui-toolbar-menu-trigger {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
