@import '~@pxblue/colors/palette.scss';

.list {
    color: map-get($pxb-gray, 800) !important;
    white-space: nowrap;
}

.mat-card.container-card {
    margin: 0px 8px;
    padding: 0;
}

.error {
    mat-list-item {
        color: map-get($pxb-red, 500) !important;
    }
}

.progress-icon {
    color: map-get($pxb-blue, 500);
}

pxb-score-card {
    width: 400px;

    .pxb-score-card-header-background {
        background-image: url('../assets/topology_40.png');
    }
    .mat-list-base {
        padding: 16px 0px !important;
    }
    .mat-list-item,
    .card-body-item .pxb-info-list-item.pxb-info-list-item-dense .mat-list-item-content {
        height: 36px !important;
    }
    .mat-list-text {
        padding-left: 0px !important;
    }
    .mat-list-base .mat-list-item .mat-list-icon {
        min-width: 56px;
    }
    .pxb-info-list-item-title {
        font-weight: 600 !important;
    }
}
.red-score-card {
    .pxb-score-card .pxb-score-card-header {
        background-color: map-get($pxb-red, 500);
    }
    margin-right: 8px;
}
