@import '~@pxblue/colors/palette.scss';

.list {
    color: map-get($pxb-gray, 800) !important;
    white-space: nowrap;
}
.menu-icon {
  margin-right: 16px;
}
.rtl .menu-icon {
  margin-right: 0;
  margin-left: 16px;
}

.scorecards {
  display: flex;
  padding: 8px 8px 0px 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
  > * {
    margin-bottom: 8px;
  }
}

.toolbar {
    background-color: map-get($pxb-blue, 500) !important;
    color: map-get($pxb-white, 50) !important;
}

.mat-card.container-card {
    margin: 0px 8px;
    padding: 0;
}

.error {
    mat-list-item {
        color: map-get($pxb-red, 500) !important;
    }
}

.progress-icon {
    color: map-get($pxb-blue, 500);
}

pxb-score-card {
    width: 400px;

    .pxb-score-card-header-background {
        background-image: url('../assets/topology_40.png');
    }
    .mat-list-base {
        padding: 16px 0px !important;
    }
    .mat-list-item,
    .card-body-item .pxb-info-list-item.pxb-info-list-item-dense .mat-list-item-content {
        height: 36px !important;
    }
    .mat-list-text {
        padding-left: 0px !important;
    }
    .mat-list-base .mat-list-item .mat-list-icon {
        min-width: 56px;
    }
    .pxb-info-list-item-title {
        font-weight: 600 !important;
    }
}
.red-score-card {
  margin-right: 8px;
    .pxb-score-card .pxb-score-card-header {
        background-color: map-get($pxb-red, 500);
    }
}
.rtl .red-score-card {
  margin-left: 8px;
  margin-right: 0;
}

.test-background-image mat-toolbar.pxb-drawer-header {
    background-color: map-get($pxb-blue, 500);
    background-size: cover;
    color: white;
}

.test-background-image .pxb-drawer-header-background {
    background-image: url('../assets/topology_40.png');
}

.tag-label {
    margin-right: 8px;
}
.rtl .tag-label {
  margin-right: 0;
  margin-left: 8px;
}
