@import '~@pxblue/colors/palette.scss';

.list {
   mat-list-item {
      color: map-get($pxb-gray, 800)!important;
     .list-label {
       margin: 0;
       margin-left: 15px;
     }
     .list-value {
       flex: 1 1 0px;
       text-align: right;
     }
   }
}
.error {
  mat-list-item {
    color: map-get($pxb-red, 500)!important;
  }
}

.progress-icon {
    color: map-get($pxb-blue, 500);
}

pxb-scorecard {
    width: 400px;
}

pxb-scorecard {
  .pxb-header-background {
    background-image: url('../assets/topology_40.png')
  }
  margin: 16px;
}
.red-scorecard {
  .pxb-root .pxb-header {
    background-color: map-get($pxb-red, 500);
  }
}
