<pxb-drawer-layout
    [variant]="getVariant()"
    (backdropClick)="closeDrawer()"
    [dir]="isRtl ? 'rtl' : 'ltr'"
    [class.rtl]="isRtl"
>
    <showcase-drawer pxb-drawer></showcase-drawer>
    <div pxb-content>
        <mat-toolbar class="toolbar">
            <button *ngIf="isMobile()" mat-icon-button class="menu-icon" (click)="openDrawer()">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>Showcase</h2>
            <pxb-spacer></pxb-spacer>
            <button mat-icon-button style="margin: 0px 8px" (click)="toggleTheme()">
                <mat-icon>invert_colors</mat-icon>
            </button>
            <button mat-icon-button style="margin: 0px 8px" (click)="toggleDirectionality()">
                <mat-icon>compare_arrows</mat-icon>
            </button>
            <pxb-user-menu
                style="margin: 0px 8px"
                avatarValue="MS"
                menuTitle="Marshall Sutter"
                menuSubtitle="msutter@acmesteel.com"
                [(open)]="userMenuOpen"
            >
                <mat-nav-list pxb-menu-body [style.paddingTop.px]="0">
                    <div *ngFor="let group of menuGroups">
                        <ng-container *ngIf="group.title">
                            <mat-divider></mat-divider>
                            <div style="padding: 8px 24px 8px 24px; font-weight: 600">{{ group.title }}</div>
                            <mat-divider></mat-divider>
                        </ng-container>
                        <pxb-info-list-item
                            *ngFor="let item of group.items"
                            [dense]="true"
                            (click)="userMenuOpen = false"
                        >
                            <mat-icon pxb-icon>{{ item.icon }}</mat-icon>
                            <div pxb-title>{{ item.title }}</div>
                        </pxb-info-list-item>
                    </div>
                </mat-nav-list>
            </pxb-user-menu>
        </mat-toolbar>
        <div>
            <div class="scorecards">
                <pxb-score-card
                    class="red-score-card"
                    [headerTitle]="'Substation 3'"
                    [headerSubtitle]="'High Humidity Alarm'"
                    [headerInfo]="'4 Devices'"
                >
                    <mat-icon pxb-action-items>more_vert</mat-icon>
                    <mat-list pxb-body>
                        <pxb-info-list-item dense="true" [style.color]="colors.red[500]" class="card-body-item">
                            <div pxb-title>1 Alarm</div>
                            <mat-icon pxb-icon>notifications</mat-icon>
                        </pxb-info-list-item>
                        <pxb-info-list-item dense="true" [style.color]="colors.blue[500]" class="card-body-item">
                            <div pxb-title>1 Event</div>
                            <mat-icon pxb-icon>list_alt</mat-icon>
                        </pxb-info-list-item>
                        <pxb-info-list-item dense="true" class="card-body-item">
                            <div pxb-title>Online</div>
                            <mat-icon pxb-icon>cloud</mat-icon>
                        </pxb-info-list-item>
                    </mat-list>
                    <pxb-hero-banner pxb-badge>
                        <pxb-hero [label]="'Temperature'" [value]="98" [units]="'°F'" [iconSize]="36">
                            <mat-icon svgIcon="px-icons:temp" pxb-primary></mat-icon>
                        </pxb-hero>
                        <pxb-hero [label]="'Humidity'" [value]="'54'" [units]="'%'" [iconSize]="36">
                            <mat-icon
                                svgIcon="px-icons:moisture"
                                pxb-primary
                                [style.color]="colors.blue[300]"
                            ></mat-icon>
                        </pxb-hero>
                    </pxb-hero-banner>
                    <pxb-info-list-item hidePadding="true" dense="true" pxb-action-row>
                        <div pxb-title>More</div>
                        <mat-icon mat-list-icon pxb-right-content class="scorecard-chevron">chevron_right</mat-icon>
                    </pxb-info-list-item>
                </pxb-score-card>

                <pxb-score-card
                    [headerTitle]="'Substation 3'"
                    [headerSubtitle]="'Normal'"
                    [headerInfo]="'4 Devices'"
                    [badgeOffset]="-92"
                >
                    <mat-icon pxb-action-items>more_vert</mat-icon>
                    <mat-list pxb-body>
                        <pxb-info-list-item dense="true" class="card-body-item">
                            <div pxb-title>0 Alarms</div>
                            <mat-icon pxb-icon>notifications</mat-icon>
                        </pxb-info-list-item>
                        <pxb-info-list-item dense="true" [style.color]="colors.blue[500]" class="card-body-item">
                            <div pxb-title>1 Event</div>
                            <mat-icon pxb-icon>list_alt</mat-icon>
                        </pxb-info-list-item>
                        <pxb-info-list-item dense="true" class="card-body-item">
                            <div pxb-title>Online</div>
                            <mat-icon pxb-icon>cloud</mat-icon>
                        </pxb-info-list-item>
                    </mat-list>
                    <pxb-hero
                        pxb-badge
                        label="Health"
                        value="98"
                        units="%"
                        [iconBackgroundColor]="colors.white[50]"
                        (click)="test()"
                        style="cursor: pointer"
                        [iconSize]="72"
                    >
                        <mat-icon svgIcon="px-icons:grade_a" pxb-primary [style.color]="colors.green[500]"></mat-icon>
                    </pxb-hero>
                    <pxb-info-list-item hidePadding="true" dense="true" pxb-action-row>
                        <div pxb-title>View Location</div>
                        <mat-icon mat-list-icon pxb-right-content class="scorecard-chevron">chevron_right</mat-icon>
                    </pxb-info-list-item>
                </pxb-score-card>
            </div>

            <mat-card class="container-card">
                <mat-list style="padding: 0">
                    <pxb-hero-banner [divider]="true">
                        <pxb-hero
                            label="Healthy"
                            value="96"
                            units="/100"
                            (click)="test()"
                            style="cursor: pointer"
                            [iconSize]="36"
                        >
                            <mat-icon
                                svgIcon="px-icons:grade_a"
                                pxb-primary
                                [style.color]="colors.green[500]"
                            ></mat-icon>
                        </pxb-hero>

                        <pxb-hero label="Load">
                            <pie-progress class="progress-icon" percent="65" size="36" pxb-primary></pie-progress>
                            <pxb-channel-value value="65" units="%">
                                <mat-icon [style.color]="colors.red['500']">trending_up</mat-icon>
                            </pxb-channel-value>
                        </pxb-hero>

                        <pxb-hero label="Estimated">
                            <mat-icon pxb-primary>timer</mat-icon>
                            <pxb-channel-value value="1" units="h"></pxb-channel-value>
                            <pxb-channel-value value="26" units="m"></pxb-channel-value>
                        </pxb-hero>

                        <pxb-hero label="Battery" value="Full">
                            <battery-progress
                                class="progress-icon"
                                percent="90"
                                size="36"
                                pxb-primary
                            ></battery-progress>
                        </pxb-hero>
                    </pxb-hero-banner>
                </mat-list>

                <pxb-info-list-item
                    divider="full"
                    dense="true"
                    [style.color]="colors.green[500]"
                    [statusColor]="colors.green[500]"
                >
                    <div pxb-title>Status</div>
                    <mat-icon pxb-icon svgIcon="px-icons:leaf" [style.color]="colors.green[500]"></mat-icon>
                    <pxb-channel-value pxb-right-content value="Online, ESS+"></pxb-channel-value>
                </pxb-info-list-item>

                <pxb-info-list-item divider="full" [subtitle]="['Phase A', 'Phase B', 'Phase C']" [avatar]="true">
                    <div pxb-title>Input Voltage</div>
                    <mat-icon
                        pxb-icon
                        svgIcon="px-icons:voltage_circled"
                        [style.backgroundColor]="colors.black[500]"
                        [style.color]="colors.white[50]"
                    ></mat-icon>
                    <div pxb-right-content>
                        <pxb-channel-value value="478" units="V"></pxb-channel-value>,
                        <pxb-channel-value value="479" units="V"></pxb-channel-value>,
                        <pxb-channel-value value="473" units="V"></pxb-channel-value>
                    </div>
                </pxb-info-list-item>

                <div class="error">
                    <pxb-info-list-item
                        divider="full"
                        [avatar]="true"
                        [subtitle]="['Phase A', 'Phase B', 'Phase C']"
                        [statusColor]="colors.red[500]"
                    >
                        <div pxb-title>Output Voltage</div>
                        <mat-icon
                            pxb-icon
                            svgIcon="px-icons:voltage_circled"
                            [style.color]="colors.white[50]"
                            [style.backgroundColor]="colors.red[500]"
                        ></mat-icon>

                        <div pxb-right-content [style.color]="colors.black[500]">
                            <pxb-list-item-tag class="tag-label" label="monitored"></pxb-list-item-tag>
                            <pxb-channel-value value="480" units="V"></pxb-channel-value>,
                            <pxb-channel-value value="480" units="V"></pxb-channel-value>,
                            <pxb-channel-value value="480" units="V"></pxb-channel-value>
                        </div>
                    </pxb-info-list-item>
                </div>

                <pxb-info-list-item divider="full" dense="true">
                    <div pxb-title>Output Voltage</div>
                    <mat-icon pxb-icon svgIcon="px-icons:current_circled"></mat-icon>
                    <div pxb-right-content>
                        <pxb-channel-value value="15" units="A"></pxb-channel-value>,
                        <pxb-channel-value value="15" units="A"></pxb-channel-value>,
                        <pxb-channel-value value="14.9" units="A"></pxb-channel-value>
                    </div>
                </pxb-info-list-item>

                <pxb-info-list-item dense="true">
                    <div pxb-title>Temperature</div>
                    <mat-icon pxb-icon svgIcon="px-icons:temp"></mat-icon>
                    <div pxb-right-content>
                        <pxb-list-item-tag
                            class="tag-label"
                            label="Active"
                            [fontColor]="colors.green[500]"
                            [backgroundColor]="colors.white[300]"
                        ></pxb-list-item-tag>
                        <pxb-list-item-tag
                            class="tag-label"
                            label="Overheat"
                            [fontColor]="colors.white[50]"
                            [backgroundColor]="colors.red[500]"
                        ></pxb-list-item-tag>
                        <pxb-channel-value value="68" units="°F">
                            <mat-icon [style.color]="colors.red['500']">trending_up</mat-icon>
                        </pxb-channel-value>
                    </div>
                </pxb-info-list-item>
            </mat-card>

            <mat-card class="container-card" style="margin-top: 10px; margin-bottom: 24px; padding: 16px;">
                <pxb-empty-state title="No Devices" description="Consult your local admin for details">
                    <mat-icon pxb-empty-icon>devices</mat-icon>
                    <button mat-raised-button color="primary" pxb-actions>
                        <mat-icon>add_circle</mat-icon>
                        ADD DEVICE
                    </button>
                </pxb-empty-state>
            </mat-card>
        </div>
    </div>
</pxb-drawer-layout>
