<div style="display: flex; padding: 16px; justify-content: flex-start">
    <pxb-scorecard
        class="red-scorecard"
        [headerTitle]="'Substation 3'"
        [headerSubtitle]="'High Humidity Alarm'"
        [headerInfo]="'4 Devices'"
    >
        <mat-icon action-items>more_vert</mat-icon>
        <mat-list body>
            <mat-list-item>
                <p mat-line>0 Alarms</p>
                <mat-icon mat-list-icon>notifications</mat-icon>
            </mat-list-item>
            <mat-list-item [style.color]="colors.blue[500]">
                <p mat-line>1 Event</p>
                <mat-icon mat-list-icon>list_alt</mat-icon>
            </mat-list-item>
            <mat-list-item>
                <p mat-line>Online</p>
                <mat-icon mat-list-icon>cloud</mat-icon>
            </mat-list-item>
        </mat-list>
        <pxb-hero-banner badge>
            <pxb-hero [label]="'Temperature'" [value]="'98'" [units]="'°F'" [iconSize]="'normal'">
                <mat-icon svgIcon="px-icons:temp" primary></mat-icon>
            </pxb-hero>
            <pxb-hero [label]="'Humidity'" [value]="'54'" [units]="'%'" [iconSize]="'normal'">
                <mat-icon svgIcon="px-icons:moisture" primary [style.color]="colors.blue[300]"></mat-icon>
            </pxb-hero>
        </pxb-hero-banner>
        <mat-list action-row>
            <mat-list-item>
                <p mat-line>View Location</p>
                <mat-icon mat-list-icon style="order: 10">chevron_right</mat-icon>
            </mat-list-item>
        </mat-list>
    </pxb-scorecard>

    <pxb-scorecard
        [headerTitle]="'Substation 3'"
        [headerSubtitle]="'Normal'"
        [headerInfo]="'4 Devices'"
        [badgeOffset]="-92"
    >
        <mat-icon action-items>more_vert</mat-icon>
        <mat-list body>
            <mat-list-item>
                <p mat-line>0 Alarms</p>
                <mat-icon mat-list-icon>notifications</mat-icon>
            </mat-list-item>
            <mat-list-item [style.color]="colors.blue[500]">
                <p mat-line>1 Event</p>
                <mat-icon mat-list-icon>list_alt</mat-icon>
            </mat-list-item>
            <mat-list-item>
                <p mat-line>Online</p>
                <mat-icon mat-list-icon>cloud</mat-icon>
            </mat-list-item>
        </mat-list>
        <pxb-hero
            badge
            label="Healthy"
            value="96"
            units="/100"
            [iconBackgroundColor]="colors.white[50]"
            (click)="test()"
            style="cursor: pointer"
            [iconSize]="'large'"
        >
            <mat-icon svgIcon="px-icons:grade_a" primary [style.color]="colors.green[500]"></mat-icon>
        </pxb-hero>
        <mat-list action-row>
            <mat-list-item>
                <p mat-line>View Location</p>
                <mat-icon mat-list-icon style="order: 10">chevron_right</mat-icon>
            </mat-list-item>
        </mat-list>
    </pxb-scorecard>
</div>

<mat-card style="padding: 0">
    <mat-list style="padding: 0">
        <pxb-hero-banner [divider]="true">
            <pxb-hero
                label="Healthy"
                value="96"
                units="/100"
                (click)="test()"
                style="cursor: pointer"
                [iconSize]="'normal'"
            >
                <mat-icon svgIcon="px-icons:grade_a" primary [style.color]="colors.green[500]"></mat-icon>
            </pxb-hero>

            <pxb-hero label="Load">
                <pie-progress class="progress-icon" percent="65" size="36" primary></pie-progress>
                <pxb-channel-value value="65" units="%">
                    <mat-icon [style.color]="colors.red['500']">trending_up</mat-icon>
                </pxb-channel-value>
            </pxb-hero>

            <pxb-hero label="Estimated">
                <mat-icon primary>timer</mat-icon>
                <pxb-channel-value value="1" units="h"></pxb-channel-value>
                <pxb-channel-value value="26" units="m"></pxb-channel-value>
            </pxb-hero>

            <pxb-hero label="Battery" value="Full">
                <battery-progress class="progress-icon" percent="90" size="36" primary></battery-progress>
            </pxb-hero>
        </pxb-hero-banner>
    </mat-list>

    <mat-list class="list" style="padding: 0">
        <mat-list-item>
            <mat-icon mat-list-icon svgIcon="px-icons:leaf"></mat-icon>
            <h4 class="mat-h3 list-label">Status</h4>
            <div class="list-value">
                <pxb-channel-value value="Online, ESS+"></pxb-channel-value>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled"></mat-icon>
            <h4 class="mat-h3 list-label">Input Voltage</h4>
            <div class="list-value">
                <pxb-channel-value value="478" units="V"></pxb-channel-value>,
                <pxb-channel-value value="479" units="V"></pxb-channel-value>,
                <pxb-channel-value value="473" units="V"></pxb-channel-value>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <div class="error">
            <mat-list-item>
                <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled"></mat-icon>
                <h4 class="mat-h3 list-label">Output Voltage</h4>
                <div class="list-value">
                    <pxb-channel-value value="480" units="V"></pxb-channel-value>,
                    <pxb-channel-value value="480" units="V"></pxb-channel-value>,
                    <pxb-channel-value value="480" units="V"></pxb-channel-value>
                </div>
            </mat-list-item>
        </div>
        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon svgIcon="px-icons:current_circled"></mat-icon>
            <h4 class="mat-h3 list-label">Output Current</h4>
            <div class="list-value">
                <pxb-channel-value value="15" units="A"></pxb-channel-value>,
                <pxb-channel-value value="15" units="A"></pxb-channel-value>,
                <pxb-channel-value value="14.9" units="A"></pxb-channel-value>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon svgIcon="px-icons:temp"></mat-icon>
            <h4 class="mat-h3 list-label">Temperature</h4>
            <div class="list-value">
                <pxb-channel-value value="68" units="°F">
                    <mat-icon [style.color]="colors.red['500']">trending_up</mat-icon>
                </pxb-channel-value>
            </div>
        </mat-list-item>
    </mat-list>
</mat-card>

<mat-card style="margin-top:10px">
    <pxb-empty-state title="No Devices">
        <mat-icon empty-icon>devices</mat-icon>
        <button mat-raised-button color="primary" actions>
            <mat-icon>add_circle</mat-icon>
            ADD DEVICE
        </button>
    </pxb-empty-state>
</mat-card>
