@import '~@pxblue/colors/palette.scss';

.pxb-drawer {
  background-color: #ffffff;
  border-right: 1px solid map-get($pxb-black, 50);
  height: 100%;

  .pxb-drawer-subheader {
    color: map-get($pxb-black, 500);
  }

  .pxb-drawer-nav-group .mat-list-base {
    color: map-get($pxb-black, 500);
  }

  .pxb-drawer-nested-nav-item {
    background-color: map-get($pxb-gray, 50);
  }

  .pxb-info-list-item .mat-list-item-content {
    color: map-get($pxb-black, 500);
  }

  .pxb-info-list-item .mat-list-item-content:hover {
    background-color: map-get($pxb-gray, 100);
  }

  .pxb-info-list-item-active .pxb-info-list-item .mat-list-item-content {
    color: map-get($pxb-blue, 500);
  }

  .pxb-info-list-item-active:after {
    background-color: map-get($pxb-blue, 50);
  }

  .pxb-drawer-footer {
    .pxb-drawer-footer-content-wrapper {
      display: flex;
      justify-content: center;
    }

    img {
      margin: 10px;
    }
  }
}
