
.pxb-drawer-footer {
    justify-content: center;
    align-content: center;
    display: flex;
    width: 100%;
}

.pxb-drawer-footer-open {
    visibility: inherit;
}

.pxb-drawer-footer-closed {
    visibility: hidden;
}
