<div class="dashboard-root template-root">
    <div style="margin-bottom: 16px; display: flex; flex-wrap: wrap">
        <blui-score-card
            class="red-score-card"
            [headerTitle]="'Substation 3'"
            [headerSubtitle]="'High Humidity Alarm'"
            [headerInfo]="'4 Devices'"
        >
            <mat-icon blui-action-items>more_vert</mat-icon>
            <mat-list blui-body>
                <blui-info-list-item dense="true" class="card-body-item">
                    <div blui-title [style.color]="colors.red[500]">1 Alarm</div>
                    <mat-icon blui-icon [style.color]="colors.red[500]">notifications</mat-icon>
                </blui-info-list-item>
                <blui-info-list-item dense="true" [style.color]="colors.blue[500]" class="card-body-item">
                    <div blui-title [style.color]="colors.blue[500]">1 Event</div>
                    <mat-icon blui-icon [style.color]="colors.blue[500]" class="invert-rtl">list_alt</mat-icon>
                </blui-info-list-item>
                <blui-info-list-item dense="true" class="card-body-item">
                    <div blui-title style="font-weight: 400">Online</div>
                    <mat-icon blui-icon>cloud</mat-icon>
                </blui-info-list-item>
            </mat-list>
            <blui-hero-banner blui-badge>
                <blui-hero [label]="'Temperature'" [value]="98" [units]="'°F'" [iconSize]="36">
                    <mat-icon svgIcon="blui-icons:temp" blui-primary></mat-icon>
                </blui-hero>
                <blui-hero [label]="'Humidity'" [value]="'54'" [units]="'%'" [iconSize]="36">
                    <mat-icon svgIcon="blui-icons:moisture" blui-primary [style.color]="colors.blue[300]"> </mat-icon>
                </blui-hero>
            </blui-hero-banner>
            <blui-info-list-item hidePadding="true" dense="true" blui-action-row mat-ripple>
                <div blui-title>View Location</div>
                <mat-icon mat-list-icon blui-right-content class="scorecard-chevron">chevron_right</mat-icon>
            </blui-info-list-item>
        </blui-score-card>

        <blui-score-card
            [headerTitle]="'Substation 3'"
            [headerSubtitle]="'Normal'"
            [headerInfo]="'4 Devices'"
            [badgeOffset]="-92"
        >
            <mat-icon blui-action-items>more_vert</mat-icon>
            <mat-list blui-body>
                <blui-info-list-item dense="true" class="card-body-item">
                    <div blui-title style="font-weight: 400">0 Alarms</div>
                    <mat-icon blui-icon>notifications</mat-icon>
                </blui-info-list-item>
                <blui-info-list-item dense="true" class="card-body-item">
                    <div blui-title [style.color]="colors.blue[500]">1 Event</div>
                    <mat-icon blui-icon [style.color]="colors.blue[500]" class="invert-rtl">list_alt</mat-icon>
                </blui-info-list-item>
                <blui-info-list-item dense="true" class="card-body-item">
                    <div blui-title style="font-weight: 400">Online</div>
                    <mat-icon blui-icon>cloud</mat-icon>
                </blui-info-list-item>
            </mat-list>
            <blui-hero blui-badge label="Health" value="98" units="%" [iconSize]="72">
                <mat-icon svgIcon="blui-icons:grade_a" blui-primary [style.color]="colors.green[500]"></mat-icon>
            </blui-hero>
            <blui-info-list-item hidePadding="true" dense="true" blui-action-row mat-ripple>
                <div blui-title>View Location</div>
                <mat-icon mat-list-icon blui-right-content class="scorecard-chevron">chevron_right</mat-icon>
            </blui-info-list-item>
        </blui-score-card>
    </div>

    <mat-card class="data-card" style="margin-bottom: 16px">
        <mat-list style="padding: 0; height: 125px">
            <blui-hero-banner [divider]="true">
                <blui-hero label="Healthy" value="96" units="/100" style="cursor: pointer" [iconSize]="36">
                    <mat-icon svgIcon="blui-icons:grade_a" blui-primary [style.color]="colors.green[500]"> </mat-icon>
                </blui-hero>

                <blui-hero label="Load">
                    <pie-progress class="progress-icon" percent="65" size="36" blui-primary></pie-progress>
                    <blui-channel-value value="65" units="%">
                        <mat-icon [style.color]="colors.red['500']" class="invert-rtl">trending_up</mat-icon>
                    </blui-channel-value>
                </blui-hero>

                <blui-hero label="Estimated">
                    <mat-icon blui-primary>timer</mat-icon>
                    <blui-channel-value value="1" units="h"></blui-channel-value>
                    <blui-channel-value value="26" units="m"></blui-channel-value>
                </blui-hero>

                <blui-hero label="Battery" value="Full">
                    <battery-progress class="progress-icon" percent="90" size="36" blui-primary> </battery-progress>
                </blui-hero>
            </blui-hero-banner>
        </mat-list>

        <mat-divider></mat-divider>

        <blui-info-list-item
            divider="full"
            dense="true"
            [style.color]="colors.green[500]"
            [statusColor]="colors.green[500]"
            iconAlign="center"
        >
            <div blui-title>Status</div>
            <mat-icon blui-icon svgIcon="blui-icons:leaf" [style.color]="colors.green[500]"></mat-icon>
            <blui-channel-value blui-right-content value="Online, ESS+"></blui-channel-value>
        </blui-info-list-item>

        <blui-info-list-item divider="full" [avatar]="true">
            <div blui-title>Input Voltage</div>
            <div blui-subtitle>Phase A · Phase B · Phase C</div>
            <mat-icon
                blui-icon
                svgIcon="blui-icons:voltage_circled"
                [style.backgroundColor]="colors.black[500]"
                [style.color]="colors.white[50]"
            ></mat-icon>
            <div blui-right-content>
                <blui-channel-value value="478" units="V"></blui-channel-value>,
                <blui-channel-value value="479" units="V"></blui-channel-value>,
                <blui-channel-value value="473" units="V"></blui-channel-value>
            </div>
        </blui-info-list-item>

        <blui-info-list-item dense="true" iconAlign="center" divider="full">
            <div blui-title>Temperature</div>
            <mat-icon blui-icon svgIcon="blui-icons:temp"></mat-icon>
            <div blui-right-content>
                <blui-list-item-tag
                    class="tag-label"
                    label="Overheat"
                    [fontColor]="colors.white[50]"
                    [backgroundColor]="colors.red[500]"
                ></blui-list-item-tag>
                <blui-channel-value value="68" units="°F">
                    <mat-icon [style.color]="colors.red['500']">trending_up</mat-icon>
                </blui-channel-value>
            </div>
        </blui-info-list-item>

        <blui-info-list-item divider="full" dense="true" iconAlign="center">
            <div blui-title>Output Voltage</div>
            <mat-icon blui-icon svgIcon="blui-icons:current_circled"></mat-icon>
            <div blui-right-content>
                <blui-channel-value value="15" units="A"></blui-channel-value>,
                <blui-channel-value value="15" units="A"></blui-channel-value>,
                <blui-channel-value value="14.9" units="A"></blui-channel-value>
            </div>
        </blui-info-list-item>
    </mat-card>

    <mat-card style="margin-top: 16px">
        <blui-empty-state title="No Devices" description="Contact your local admin for details">
            <mat-icon blui-empty-icon>devices</mat-icon>
            <button blui-actions mat-flat-button color="primary">
                <mat-icon style="height: 20px; width: 20px; font-size: 20px"> add </mat-icon>
                Add Device
            </button>
        </blui-empty-state>
    </mat-card>

    <br />

    <mat-accordion class="data-panel">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Timeline </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-nav-list style="padding-top: 0">
                <blui-info-list-item divider="full" chevron="true" iconAlign="center">
                    <mat-icon blui-icon [style.color]="colors.blue[500]">info</mat-icon>
                    <div blui-left-content>
                        <div>8:05 <span class="ampm">AM</span></div>
                        <div>09/23/19</div>
                    </div>
                    <div blui-title>Connection Lost</div>
                </blui-info-list-item>
                <blui-info-list-item divider="full" chevron="true" iconAlign="center">
                    <mat-icon blui-icon [style.color]="colors.blue[500]">info</mat-icon>
                    <div blui-left-content>
                        <div>8:05 <span class="ampm">AM</span></div>
                        <div>09/23/19</div>
                    </div>
                    <div blui-title>Back Online</div>
                </blui-info-list-item>
                <blui-info-list-item divider="full" chevron="true" iconAlign="center">
                    <mat-icon blui-icon [style.color]="colors.blue[500]">info</mat-icon>
                    <div blui-left-content>
                        <div>12:12<span class="ampm">PM</span></div>
                        <div>07/19/19</div>
                    </div>
                    <div blui-title>Connection Lost</div>
                </blui-info-list-item>
                <blui-info-list-item
                    divider="full"
                    chevron="true"
                    [statusColor]="colors.red[500]"
                    avatar="true"
                    iconAlign="center"
                >
                    <mat-icon blui-icon [style.color]="colors.white[50]" [style.backgroundColor]="colors.red[500]"
                        >alarms</mat-icon
                    >
                    <div blui-left-content>
                        <div>2:12<span class="ampm">PM</span></div>
                        <div>07/13/19</div>
                    </div>
                    <div blui-title>Cabinet 5 Wire</div>
                    <div blui-subtitle>Exampo Device Model</div>
                </blui-info-list-item>
                <blui-info-list-item chevron="true" iconAlign="center">
                    <mat-icon blui-icon [style.color]="colors.blue[500]">info</mat-icon>
                    <div blui-left-content>
                        <div>12:12<span class="ampm">PM</span></div>
                        <div>07/19/19</div>
                    </div>
                    <div blui-title>Back Online</div>
                </blui-info-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>
