.pxb-list-item-tag-wrapper {
    width: 100%;
    justify-content: center;
}
.pxb-list-item-tag-backgroundColor {
    margin: 8px;
    padding: 8px;
    width: 100%;
}
.pxb-list-item-tag-fontColor {
    font: open-sans;
}
