.pxb-list-item-tag {
    display: inline-block;
}

.pxb-list-item-tag,
.pxb-list-item-tag-content {
    border-radius: 2px;
}

.pxb-list-item-tag-content {
    padding: 0 4px;
    overflow: hidden;
    line-height: inherit;
    letter-spacing: 1px;

    .pxb-list-item-tag-label {
        font-weight: 700;
        text-transform: uppercase;
    }
}
