@use '@brightlayer-ui/colors/palette.scss';

.elevation-example {
    height: 100px;
    width: 100px;
    margin: 8px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.outlined {
        border: solid 1px map-get(palette.$blui-gray, 100);
        border-radius: 4px;
    }
}

.card-example {
    .word-of-day {
        color: map-get(palette.$blui-black, 300);
        font-size: 14px;
        margin-bottom: 4px;
    }
    .pronounce {
        font-size: 24px;
    }
    .type {
        color: map-get(palette.$blui-black, 300);
        margin-bottom: 12px;
        font-size: 14px;
    }
    .definition {
        font-size: 14px;
    }
    .variant {
        font-size: 14px;
        margin-top: 8px;
    }
    .outlined {
        margin-top: 16px;
        border: solid 1px map-get(palette.$blui-gray, 100);
        box-shadow: none !important;
    }
}
