.scaffold-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tabs-container.small .mat-tab-header {
        width: 100%;
        max-width: 1200px;
    }
    .tabs-container {
        width: 100%;
        display: flex;
        justify-content: center;
        .mat-tab-header {
            height: 48px;
            width: 100%;
            position: sticky;
            left: 0px;
            top: 64px;
            margin-top: -48px;
            z-index: 5;
            z-index: 1000;
            max-width: 1200px;
            @media only screen and (max-width: 999px) {
                max-width: calc(100% - 350px); // Full screen width, minus drawer width
            }
        }
        .mat-tab-group {
            max-width: 1200px;
        }
        .mat-tab-label {
            width: 100% !important;
        }
        .mat-tab-body:not(#mat-tab-content-0-2) {
            padding: 48px 32px 32px 32px;
        }
        .mat-tab-body-content,
        .mat-tab-body {
            overflow: unset;
        }

        /* API (README) Section */
        .doc-tab-content {
            img {
                margin: 16px 0px;
            }
            pre:first-of-type {
                margin-bottom: 48px;
            }
            pre {
                box-sizing: border-box;
                max-width: calc(100vw - 64px);
            }
            pre[class*='language-'] {
                &:before,
                &:after {
                    box-shadow: none;
                }
            }
            pre code {
                background: inherit;
            }
            code {
                padding: 0 4px;
            }
            h1 {
                font-size: 36px;
            }
            h2 {
                padding-bottom: 8px;
                font-size: 24px;
                margin-top: 24px;
                margin-bottom: 32px;
            }
            h3 {
                font-size: 18px;
                margin-top: 24px;
            }
            blockquote {
                margin: 0;
                border-left: solid 4px;
                padding-left: 16px;
                margin-bottom: 24px;
            }
            div {
                width: 100%;
                max-width: calc(100vw - 64px);
                display: block;
                margin-bottom: 24px;
            }
            table {
                margin-bottom: 8px;
                width: 100%;
                box-sizing: border-box;
                border-collapse: collapse;
                tr th {
                    border: unset;
                    border-left: 0;
                    border-right: 0;
                }
                tr {
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
                tr th {
                    text-align: left;
                    font-weight: bold;
                }
                td, th {
                    font-size: 0.875rem;
                    padding: 1rem;
                }
            }
        }
    }
    .playground-container {
        display: flex;
        height: 100%;
    }
    .props-container {
        background-color: #e5e5e5;
        width: 300px;
        box-sizing: border-box;
        min-height: calc(100vh - 64px - 48px - 1px);
        padding: 16px;

        mat-form-field {
            width: 100%;
        }
    }
    .examples-tab-content-wrapper {
        > div {
            display: flex;
            flex-direction: column;
        }
    }
}
