$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

.blui-drawer-layout {
    display: flex;
    height: 100vh;
}

/* RTL */
[dir='rtl'] .blui-drawer-layout-content .mat-drawer-side {
    border-left: 0; // Border-left is provided by the Drawer component.
}

.blui-drawer-layout-content {
    height: 100%;
    width: 100%;
    transition: none;
    display: flex;

    > mat-sidenav-content {
        // Do not let angular material control the margin.  They will attempt to apply their own margin even though we are calculating our own.
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mat-drawer-side {
        border-right: none;
    }

    .blui-drawer-content {
        transition: none;
        width: 100%;
        &.blui-drawer-collapse {
            width: 100%;
        }
    }

    .blui-drawer-layout-sidenav,
    .blui-drawer-layout-nav-content {
        min-height: 100%;
        transition: none;
        &.blui-drawer-layout-smooth {
            transition: $transition;
        }
    }
}
