.pxb-drawer-layout {
    .mat-drawer-side {
        border-right: none;
    }

    .pxb-nav-content {
        height: 100vh;
    }
}

mat-sidenav.pxb-drawer-closed.pxb-drawer-persistent {
    width: 52px;
}
