@import '~@pxblue/colors/palette';

$statusWidth: 6px;
$contentPaddingLeft: 16px;
$normalHeight: 72px;
$denseHeight: 56px;

.pxb-root {
  width: 100%;
}

.mat-list-item-content {
  display: flex;
  padding-left: $contentPaddingLeft;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  height: $normalHeight;
  align-items: center;
}

.status .mat-list-item-content {
  border-left: solid $statusWidth;
  border-left-color: inherit;
  padding-left: $contentPaddingLeft - $statusWidth;
}

.dense .mat-list-item-content {
  height: $denseHeight;
}

.wrap .mat-list-item-content {
  height: unset;
  min-height: $normalHeight;
  &.dense {
    min-height: $denseHeight
  }
}

.wrap {
  .pxb-title, .pxb-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pxb-title {
  font-size: 16px; // TODO: Fix via theme
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0;
}

.pxb-subtitle {
  font-weight: 400;
  line-height: 1.3;
}

.pxb-icon {
  display: flex;
  order: 1;
  width: 56px;
  &.hidePadding {
    width: 0;
  }
}

.pxb-left-component {
  order: 2;
  margin-right: 16px;
  display: flex;
}

.mat-list-text {
  order: 3;
  display: flex;
  flex-direction: column;
}

pxb-spacer {
  order: 4;
}

.pxb-right-component {
  order: 5;
  margin-left: 16px;
  display: flex;
}
