@import '../utility/utility';

$statusWidth: 6px;
$contentPaddingLeft: 16px;
$normalHeight: 4.5rem;
$denseHeight: 3.25rem;

.pxb-info-list-item {
    display: block;
    width: 100%;
}

/* RTL */
[dir='rtl'] {
    .pxb-info-list-item-content,
    .mat-list-base .mat-list-item.pxb-info-list-item-content {
        &.pxb-info-list-item-status .mat-list-item-content {
            border-right: solid $statusWidth;
            border-right-color: inherit;
            padding-right: $contentPaddingLeft - $statusWidth;
            padding-left: $contentPaddingLeft;
            border-left: unset;
        }
        .mat-list-item-content .mat-list-text {
            padding-right: 0;
        }

        .pxb-info-list-item-icon-wrapper {
            margin-right: 0;
            margin-left: 16px;
        }

        .pxb-chevron {
            @include invert();
        }
        .pxb-info-list-item-left-content-wrapper > * {
            margin-left: 16px;
            margin-right: 0;
        }
        .pxb-info-list-item-right-content {
            margin-right: 16px;
            margin-left: 0;
        }
    }
    mat-divider.mat-divider.pxb-info-list-item-partial-divider {
        left: 0;
        right: 4.5rem;
    }
}

.pxb-info-list-item-content,
.mat-list-base .mat-list-item.pxb-info-list-item-content {
    width: 100%;
    height: inherit; /* Used to override height applied when wrapped in a mat-list. */
    .mat-list-item-content {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: $normalHeight;
        padding: 0.5rem $contentPaddingLeft 0.5rem $contentPaddingLeft;
        width: 100%;

        // Needed for ng v9
        .mat-list-text {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.pxb-info-list-item-status .mat-list-item-content {
        border-left: solid $statusWidth;
        border-left-color: inherit;
        padding-left: $contentPaddingLeft - $statusWidth;
    }

    &.pxb-info-list-item-dense .mat-list-item-content {
        height: $denseHeight;
    }

    &.pxb-info-list-item-wrap {
        .mat-list-item-content {
            height: unset;
            min-height: $normalHeight;
        }
        &.pxb-info-list-item-dense .mat-list-item-content {
            min-height: $denseHeight;
        }
    }

    .pxb-info-list-item-title-wrapper {
        font-size: 1rem; // TODO: Fix via theme
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 0;
    }

    .pxb-info-list-item-subtitle-wrapper,
    .pxb-info-list-item-info-wrapper {
        font-weight: 400;
        line-height: 1.3;
        font-size: 0.875rem;
    }

    .pxb-info-list-item-title-wrapper,
    .pxb-info-list-item-subtitle-wrapper,
    .pxb-info-list-item-info-wrapper {
        * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.pxb-info-list-item-wrap * {
            white-space: normal;
            overflow: unset;
            text-overflow: unset;
        }
    }

    // Display order is below, left-to-right.
    .pxb-info-list-item-icon-wrapper,
    .pxb-info-list-item-left-content-wrapper,
    .mat-list-text,
    .pxb-info-list-item-spacer,
    .pxb-info-list-item-right-content {
        display: flex;
    }

    .pxb-info-list-item-icon-wrapper {
        order: 1;
        width: 2.5rem;
        min-width: 2.5rem;
        max-width: 40px;
        height: auto; /* Used to override height applied when wrapped in a mat-list. */
        margin-right: 16px;
        padding: 0;
        > * {
            /* mat-icon, font-icon, etc */
            @include scale-icon-content();
        }
        &.pxb-info-list-item-hide-padding:empty {
            width: 0;
            margin: 0;
            min-width: unset;
        }
        &.pxb-info-list-item-avatar > * {
            padding: 0.5rem;
            display: flex;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            box-sizing: border-box;
        }
    }

    .pxb-info-list-item-left-content-wrapper {
        order: 2;
        > * {
            display: flex;
        }
    }
    .pxb-info-list-item-left-content-wrapper > * {
        margin-right: 1rem;
    }

    .mat-list-text {
        order: 3;
        overflow: hidden;
        flex-direction: column;
    }

    .pxb-info-list-item-spacer {
        order: 4;
    }

    .pxb-info-list-item-right-content {
        order: 5;
        white-space: nowrap;
        align-items: center;
        margin-left: 16px;
        .pxb-info-list-item-right-content-wrapper > * {
            display: flex;
            align-items: center;
        }
    }
    .pxb-chevron {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }
}

mat-divider {
    &.pxb-info-list-item-divider {
        margin-top: -1px;
    }
    &.mat-divider.pxb-info-list-item-partial-divider {
        $partial-start: calc(2.5rem + 32px);
        position: relative;
        bottom: 0;
        right: 0;
        left: calc(2.5rem + 32px);
        width: calc(100% - calc(2.5rem + 32px));
    }
}
