<div class="container" [style.color]="Colors.gray[500}">
    <section class="mat-typography">
        <mat-card>
            <mat-list>
                <mat-list-item>
                    <mat-icon svgIcon="leaf"></mat-icon> <!--or use <i class="pxb-device"></i> method? -->
                    <h2 matLine>Status</h2>
                    <h2>Onilne, ESS+</h2>    <!--placeholder text for now-->
                </mat-list-item>

                <mat-list-item>
                    <mat-icon svgIcon="grade_a"></mat-icon>
                    <h2 matLine>Input Voltage</h2>
                    <h3 matLine>Phase</h3>
                    <h2>474 V</h2>  <!--placeholder to be replaced by volts variable-->
                </mat-list-item>

                <mat-list-item>
                    <mat-icon svgIcon="grade_a"></mat-icon>
                    <h2 matLine>Output Voltage</h2>
                    <h3 matLine>Phase</h3>
                    <h2>480 V</h2>  <!--placeholder to be replaced by volts variable-->
                </mat-list-item>

                <mat-list-item>
                    <mat-icon svgIcon="device"></mat-icon>
                    <h2 matLine>Output Current</h2>
                    <h2>15 A</h2>  <!--placeholder to be replaced by amps variable-->
                </mat-list-item>

                <mat-list-item>
                    <mat-icon svgIcon="temp"></mat-icon>
                    <h2 matLine>Temperature</h2>
                    <span>
                        <mat-icon svgIcon="leaf"></mat-icon>
                        <h2>68 	&#8457;</h2>  <!--placeholder to be replaced with temperature variable-->
                    </span>
                </mat-list-item>
                
            </mat-list>
        </mat-card>
    </section>
</div>
