<div class="container" [style.color]="Colors.gray[500}">
    <section class="mat-typography">
        <mat-card>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListIcon></mat-icon>
                    <matLine></matLine>
                    <matLine></matLine>
                    <span></span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListIcon></mat-icon>
                    <matLine></matLine>
                    <matLine></matLine>
                    <span></span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListIcon></mat-icon>
                    <matLine></matLine>
                    <matLine></matLine>
                    <span></span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListIcon></mat-icon>
                    <matLine></matLine>
                    <matLine></matLine>
                    <span></span>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListIcon></mat-icon>
                    <matLine></matLine>
                    <matLine></matLine>
                    <span></span>
                </mat-list-item>
                
            </mat-list>
        </mat-card>
    </section>
</div>
