$height: 64px;
.pxb-drawer-header {
    width: 100%;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
    height: $height;
    overflow: hidden;

    &.mat-toolbar-single-row.mat-toolbar {
        padding-right: 8px;
        padding-left: 8px;
    }

    .pxb-drawer-header-background {
        position: absolute;
        opacity: 0.3;
        background-position: center;
        background-size: cover;
        pointer-events: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .pxb-drawer-header-content {
        z-index: 2;
        display: flex;
        width: 100%;
    }

    .pxb-drawer-header-icon-wrapper {
        display: flex;
        align-items: center;
        z-index: 1;
        margin-right: 16px;
        &.pxb-drawer-header-no-icon {
            margin-right: 0;
        }
    }

    .pxb-drawer-header-title-wrapper {
        display: flex;
        padding-left: 8px;
        padding-right: 16px;
        justify-content: center;
        align-self: stretch;
        flex-direction: column;
        width: calc(100% - 56px);
        box-sizing: border-box;
        z-index: 1;

        .pxb-drawer-header-title {
            font-weight: 600;
            line-height: 1.6rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .pxb-drawer-header-subtitle {
            font-weight: 300;
            line-height: 1.2rem;
            margin-top: -2px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

pxb-drawer-header .mat-divider-horizontal {
    position: static !important;
}

@media screen and (max-width: 600px) {
    .pxb-drawer-header-title-wrapper {
    }

    .pxb-drawer-header-icon-wrapper {
    }
}
