@use '@brightlayer-ui/colors/palette.scss';

.app-template-alarms {
    display: flex;
    justify-content: center;
}

/* RTL styles */
[dir='rtl'] {
    blui-list-item-tag {
        margin-left: 16px;
        margin-right: 0;
    }
    .blui-info-list-item-left-content-wrapper {
        margin-left: 16px;
        margin-right: 8px;
    }
}
.mat-list-base {
    padding-top: 0 !important;
}

.alarms-root {
    mat-card {
        width: 100%;
        padding: 0;
        margin-top: 16px;
        overflow: hidden;
    }
    mat-card-header {
        .mat-card-header-text {
            margin-left: 8px !important;
        }
        height: 48px;
        line-height: 48px;
        color: map-get(palette.$blui-blue, 500);
        font-weight: 600;
    }
    blui-list-item-tag {
        margin-right: 16px;
    }
    .blui-info-list-item-left-content-wrapper {
        font-size: 12px;
        margin-left: 8px;
        margin-right: 16px;
        > div {
            width: 60px !important;
            display: inline-block !important;
        }
    }
    .ampm {
        font-weight: 600;
        margin-left: 2px;
    }
    .station-chevron {
        font-size: 14px;
        height: 14px;
        width: 14px;
        margin-left: 4px;
        margin-right: 4px;
        line-height: 18px;
    }
}
