<div class="alarms-root template-root">
    <mat-card>
        <mat-card-header>Alarms</mat-card-header>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <blui-info-list-item
                style="overflow: hidden"
                [statusColor]="colors.red[500]"
                avatar="true"
                iconAlign="center"
                divider="partial"
            >
                <mat-icon blui-icon [style.backgroundColor]="colors.red[500]" [style.color]="colors.white[50]"
                    >notifications</mat-icon
                >
                <div blui-left-content>
                    <div>7:25 <span class="ampm">AM</span></div>
                    <div>09/22/19</div>
                </div>
                <div blui-title>High Humidty: Gateway Senor 84%</div>
                <div blui-subtitle>Substation 3</div>
                <blui-list-item-tag
                    blui-right-content
                    label="open"
                    [backgroundColor]="colors.red[500]"
                ></blui-list-item-tag>
            </blui-info-list-item>
            <blui-info-list-item divider="partial" iconAlign="center">
                <mat-icon blui-icon [style.color]="colors.red[500]">notifications</mat-icon>
                <div blui-left-content>
                    <div>12:00 <span class="ampm">PM</span></div>
                    <div>09/23/19</div>
                </div>
                <div blui-title>Overvoltage: PXG900 146V</div>
                <div blui-subtitle>
                    Substation 3 <mat-icon class="station-chevron">chevron_left</mat-icon>Gary Steelworks
                </div>
                <blui-list-item-tag
                    blui-right-content
                    label="acknowledged"
                    [fontColor]="isDark() ? colors.blue[50] : colors.blue[500]"
                    [backgroundColor]="isDark() ? colors.blue[500] : colors.blue[50]"
                ></blui-list-item-tag>
            </blui-info-list-item>
            <blui-info-list-item iconAlign="center" divider="partial">
                <mat-icon blui-icon>notifications</mat-icon>
                <div blui-left-content>
                    <div>8:05 <span class="ampm">PM</span></div>
                    <div>09/23/19</div>
                </div>
                <div blui-title>Overvoltage: PXG900 184V</div>
                <div blui-subtitle>
                    Substation 4 <mat-icon class="station-chevron">chevron_left</mat-icon>Gary Steelworks
                </div>
                <blui-list-item-tag
                    blui-right-content
                    label="closed"
                    [fontColor]="isDark() ? colors.gray[800] : colors.gray[100]"
                    [backgroundColor]="isDark() ? colors.gray[100] : colors.white[50]"
                ></blui-list-item-tag>
            </blui-info-list-item>
            <blui-info-list-item iconAlign="center" divider="partial">
                <mat-icon blui-icon [style.color]="colors.red[500]">notifications</mat-icon>
                <div blui-left-content>
                    <div>12:00 <span class="ampm">PM</span></div>
                    <div>09/26/19</div>
                </div>
                <div blui-title>Discharge Event Schweitzer Relay</div>
                <div blui-subtitle>
                    Substation 12 <mat-icon class="station-chevron">chevron_left</mat-icon>Edgar Thompson
                </div>
                <blui-list-item-tag
                    blui-right-content
                    label="closed"
                    [fontColor]="isDark() ? colors.gray[800] : colors.gray[100]"
                    [backgroundColor]="isDark() ? colors.gray[100] : colors.white[50]"
                ></blui-list-item-tag>
            </blui-info-list-item>
            <blui-info-list-item divider="partial" iconAlign="center">
                <mat-icon blui-icon>notifications</mat-icon>
                <div blui-left-content>
                    <div>11:21 <span class="ampm">AM</span></div>
                    <div>09/29/19</div>
                </div>
                <div blui-title>Humidity Alarm Eaton Sensor</div>
                <div blui-subtitle>
                    Substation 12 <mat-icon class="station-chevron">chevron_left</mat-icon>Edgar Thompson
                </div>
                <blui-list-item-tag
                    blui-right-content
                    label="closed"
                    [fontColor]="isDark() ? colors.gray[800] : colors.gray[100]"
                    [backgroundColor]="isDark() ? colors.gray[100] : colors.white[50]"
                ></blui-list-item-tag>
            </blui-info-list-item>
            <blui-info-list-item divider="partial" iconAlign="center">
                <mat-icon blui-icon [style.color]="colors.red[500]">notifications</mat-icon>
                <div blui-left-content>
                    <div>8:05 <span class="ampm">AM</span></div>
                    <div>09/29/19</div>
                </div>
                <div blui-title>1 Device Connection Lost: PXG900</div>
                <div blui-subtitle>
                    Substation 4 <mat-icon class="station-chevron">chevron_left</mat-icon>Gary Steelworks
                </div>
                <blui-list-item-tag
                    blui-right-content
                    label="acknowledged"
                    [fontColor]="isDark() ? colors.blue[50] : colors.blue[500]"
                    [backgroundColor]="isDark() ? colors.blue[500] : colors.blue[50]"
                ></blui-list-item-tag>
            </blui-info-list-item>
            <blui-info-list-item divider="partial" iconAlign="center">
                <mat-icon blui-icon [style.color]="colors.blue[500]">info</mat-icon>
                <div blui-left-content>
                    <div>8:05 <span class="ampm">AM</span></div>
                    <div>09/29/19</div>
                </div>
                <div blui-title>1 Device Connection Added: PXG900</div>
                <div blui-subtitle>
                    Substation 4 <mat-icon class="station-chevron">chevron_left</mat-icon>Gary Steelworks
                </div>
            </blui-info-list-item>
            <blui-info-list-item [statusColor]="colors.red[500]" avatar="true" iconAlign="center" divider="partial">
                <mat-icon blui-icon [style.backgroundColor]="colors.red[500]" [style.color]="colors.white[50]"
                    >notifications</mat-icon
                >
                <div blui-left-content>
                    <div>9:01 <span class="ampm">AM</span></div>
                    <div>09/29/19</div>
                </div>
                <div blui-title>High Humidty: Gateway Senor 84%</div>
                <div blui-subtitle>Substation 3</div>
                <blui-list-item-tag
                    blui-right-content
                    label="open"
                    [backgroundColor]="colors.red[500]"
                ></blui-list-item-tag>
            </blui-info-list-item>
        </mat-nav-list>
    </mat-card>
</div>
