<blui-drawer-layout
    [variant]="getVariant()"
    (backdropClick)="closeDrawer()"
    [dir]="isRtl ? 'rtl' : 'ltr'"
    [class.rtl]="isRtl"
>
    <showcase-drawer blui-drawer></showcase-drawer>

    <div blui-content>
        <mat-toolbar color="primary" style="position: sticky; top: 0; z-index: 1001">
            <button
                *ngIf="isMobile()"
                mat-icon-button
                blui-icon
                [class.rtl]="isRtl"
                (click)="openDrawer()"
                [style.marginLeft.px]="isRtl ? 12 : 0"
                [style.marginRight.px]="isRtl ? 0 : 12"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <div class="mat-title">{{ title }}</div>
            <blui-spacer></blui-spacer>
            <div style="display: flex">
                <button mat-icon-button class="toggle-theme" style="margin: 0px 4px" (click)="toggleTheme()">
                    <mat-icon>invert_colors</mat-icon>
                </button>
                <button
                    mat-icon-button
                    class="toggle-direction"
                    style="margin: 0px 4px"
                    (click)="toggleDirectionality()"
                >
                    <mat-icon>compare_arrows</mat-icon>
                </button>
                <blui-user-menu
                    class="user-menu"
                    [class.rtl]="isRtl"
                    avatarValue="MS"
                    menuTitle="Marshall Sutter"
                    menuSubtitle="msutter@acmesteel.com"
                    [(open)]="userMenuOpen"
                >
                    <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
                        <div *ngFor="let group of menuGroups">
                            <ng-container *ngIf="group.title">
                                <mat-divider></mat-divider>
                                <div style="padding: 8px 16px 8px 16px; font-weight: 600">{{ group.title }}</div>
                                <mat-divider></mat-divider>
                            </ng-container>
                            <blui-info-list-item
                                *ngFor="let item of group.items"
                                [dense]="true"
                                (click)="userMenuOpen = false"
                            >
                                <mat-icon blui-icon>{{ item.icon }}</mat-icon>
                                <div blui-title>{{ item.title }}</div>
                            </blui-info-list-item>
                        </div>
                    </mat-nav-list>
                </blui-user-menu>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </div>
</blui-drawer-layout>
