.pxb-drawer-subheader,
.pxb-drawer-subheader-content-wrapper {
    width: 100%;
}

.pxb-drawer-subheader {
    height: 48px;
    line-height: 3rem;
    font-weight: 600;
    padding-right: 16px;
    padding-left: 16px;
}
