.pxb-drawer-subheader,
.pxb-drawer-subheader-content-wrapper {
    width: 100%;
}

.pxb-drawer-subheader {
    box-sizing: border-box;
    .pxb-drawer-subheader-closed {
        visibility: hidden;
    }
}
