.pxb-dot-stepper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pxb-dot-stepper-dot {
    height: 8px;
    width: 8px;
    background-color: gray;
    border-radius: 100%;
    margin: 0 4px;
}

.pxb-dot-stepper-active {
    background-color: blue;
}

