@use '@brightlayer-ui/colors/palette.scss' as blui;
@use './themes/doc-light.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.blui-blue {
    @include doc-light.light-theme();
}

// This is required for the demos, otherwise will need to specify the height on the drawer in each demo.
.app-example,
.playground-container {
    .blui-drawer-content blui-drawer-body {
        overflow: unset;
    }
}

.color-picker .arrow.arrow-bottom {
    display: none;
}
/** Examples Pages */
.app-example {
    .example-page-title {
        font-weight: 400;
        font-size: 2.125rem;
        margin-bottom: 1rem;
    }

    .example-heading {
        font-weight: 600;
        font-size: 1.25rem;
    }
    .example-section {
        margin-bottom: 64px;
    }
    .example-demo-wrapper {
        margin: 16px 0 0 0;
        background-color: #eeeeee;
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: calc(100vw - 64px); // 64px represents padding on container
        box-sizing: border-box;
        overflow: auto;
    }
    .example-actions {
        padding-top: 16px;
        display: flex;
        justify-content: flex-end;
    }
    .example-description {
        code {
            background-color: #e7e7e7;
        }
    }
    app-example-code {
        display: flex;
        max-width: calc(100vw - 64px); // 64px represents padding on container
        overflow: auto;
        margin-top: 16px;
    }
}

/* Prism Overrides */
/**
pre {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    background-color: unset !important;
}
pre[class*='language-']:before {
    display: none !important;
}
pre[class*='language-']:after {
    display: none !important;
}
pre[data-line] code {
    padding-left: 1rem !important;
}
pre .line-highlight {
    margin-top: -1rem !important;
}

pre > code {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-family: monospace !important;
    font-size: 0.875rem !important;
} **/
