<mat-card>
  <mat-list>
    <hero-banner [divider]="true" >
      <hero [allowClick]="true" label="Healthy" value="96"  units="/100" [secondaryIcon]="true" fontSize="small" >
        <mat-icon svgIcon="px-icons:bearing" primary></mat-icon>
        <mat-icon secondary class="output" >trending_up</mat-icon>
        
      </hero>

      <hero [allowClick]="true" label="Load" fontSize="small" >
        <pie-progress class="progress-icon" percent="70" size="36" primary></pie-progress>
        <channel-value class="content" value="65" [secondaryIcon]="true" units="%" [prefix]="true" fontSize="small" >
          <mat-icon secondary class="output">trending_up</mat-icon>
        </channel-value>
      </hero>

      <hero [allowClick]="true" label="Estimated" >
        <mat-icon primary>alarm</mat-icon>
        <channel-value class="content" value="1" units="h"></channel-value>
        <channel-value class="content" value="26" units="m"></channel-value>
      </hero>

      <hero [allowClick]="true" label="Battery"   value="Full" fontSize="small">
        <battery-progress class="progress-icon" percent="90" size="36" primary></battery-progress>
      </hero>

    </hero-banner>
  </mat-list>

  <mat-list >
    <mat-list-item >
        <mat-icon mat-list-icon  svgIcon="px-icons:leaf" class="list-icon"></mat-icon>
      <h4 mat-line>status</h4>
      <div class="channelcontent"> 
          <channel-value class="content list-value" value="online,ESS+"></channel-value>
      </div>
        
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item >
        <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled" class="list-icon"></mat-icon>
        <h4 mat-line>Input Voltage</h4>
        <div class="channelcontent">
        <channel-value class="content list-value" value="478" units="V"></channel-value>,
        <channel-value class="content list-value" value="479" units="V"></channel-value>,
        <channel-value class="content list-value" value="473" units="V"></channel-value>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

    <mat-list-item class="output">
        <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled" class="list-icon" color="red"></mat-icon>
        <h4 mat-line>Output Voltage</h4>
        <div class="channelcontent">
        <channel-value class="content list-value" value="480" units="V"></channel-value>,
        <channel-value class="content list-value" value="480" units="V"></channel-value>,
        <channel-value class="content list-value" value="480" units="V"></channel-value>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

    <mat-list-item >
        <mat-icon mat-list-icon svgIcon="px-icons:current_circled" class="list-icon" color="red"></mat-icon>
        <h4 mat-line>Output Current</h4>
        <div class="channelcontent">
        <channel-value class="content list-value" value="15" units="A"></channel-value>,
        <channel-value class="content list-value" value="15" units="A"></channel-value>,
        <channel-value class="content list-value" value="15" units="A"></channel-value>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item >
          <mat-icon mat-list-icon svgIcon="px-icons:temp" class="list-icon" color="red"></mat-icon>
          <h4 mat-line>Temperature</h4>
          <div class="channelcontent">
          <channel-value class="content" value="68" [secondaryIcon]="true" units="°F">
              <mat-icon secondary>trending_up</mat-icon>
            </channel-value>
          </div>
        </mat-list-item>
  </mat-list>


</mat-card>