$transition: all 300ms;

.pxb-three-liner {
    display: flex;
}

.pxb-three-liner-title {
    font-size: 1.875rem;
    transition: $transition;
}
.pxb-three-liner-subtitle {
    font-size: 1rem;
    transition: $transition;
}
.pxb-three-liner-info {
    font-size: .875rem;
    font-weight: 300;
    transition: $transition;
}
