<div class="showcase-container">
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Circular Progress</div>
        </mat-card-header>
        <mat-card-content>
            <div class="story-title">Indeterminate (default)</div>
            <div class="spinner-section">
                <div>
                    <div>Default</div>
                    <mat-progress-spinner [diameter]="diameter" mode="indeterminate"></mat-progress-spinner>
                </div>
                <div>
                    <div>Primary</div>
                    <mat-progress-spinner
                        [diameter]="diameter"
                        mode="indeterminate"
                        color="primary"
                    ></mat-progress-spinner>
                </div>
                <div>
                    <div>Accent</div>
                    <mat-progress-spinner
                        [diameter]="diameter"
                        mode="indeterminate"
                        color="accent"
                    ></mat-progress-spinner>
                </div>
            </div>
            <div class="story-title" style="margin-top: 32px">Determinant</div>
            <div class="spinner-section">
                <div>
                    <div>Default</div>
                    <mat-progress-spinner
                        [diameter]="diameter"
                        mode="determinate"
                        [value]="spinnerValue"
                    ></mat-progress-spinner>
                </div>
                <div>
                    <div>Primary</div>
                    <mat-progress-spinner
                        [diameter]="diameter"
                        mode="determinate"
                        color="primary"
                        [value]="spinnerValue"
                    ></mat-progress-spinner>
                </div>
                <div>
                    <div>Accent</div>
                    <mat-progress-spinner
                        [diameter]="diameter"
                        mode="determinate"
                        color="accent"
                        [value]="spinnerValue"
                    ></mat-progress-spinner>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Linear Progress</div>
        </mat-card-header>
        <mat-card-content>
            <div class="story-title">Indeterminate (default)</div>
            <div class="bar-section">
                <div>
                    <div>Default</div>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div>
                    <div>Primary</div>
                    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
                </div>
                <div>
                    <div>Accent</div>
                    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                </div>
            </div>
            <div class="story-title" style="margin-top: 32px">Determinant</div>
            <div class="bar-section">
                <div>
                    <div>Default</div>
                    <mat-progress-bar mode="determinate" [value]="spinnerValue"></mat-progress-bar>
                </div>
                <div>
                    <div>Primary</div>
                    <mat-progress-bar mode="determinate" color="primary" [value]="spinnerValue"></mat-progress-bar>
                </div>
                <div>
                    <div>Accent</div>
                    <mat-progress-bar mode="determinate" color="accent" [value]="spinnerValue"></mat-progress-bar>
                </div>
            </div>
            <div class="story-title" style="margin-top: 32px">Buffer</div>
            <div class="bar-section">
                <div>
                    <div>Default</div>
                    <mat-progress-bar mode="buffer" [value]="spinnerValue"></mat-progress-bar>
                </div>
                <div>
                    <div>Primary</div>
                    <mat-progress-bar mode="buffer" color="primary" [value]="spinnerValue"></mat-progress-bar>
                </div>
                <div>
                    <div>Accent</div>
                    <mat-progress-bar mode="buffer" color="accent" [value]="spinnerValue"></mat-progress-bar>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Dialog</div>
        </mat-card-header>
        <mat-card-content class="dialog-demo">
            <button mat-stroked-button class="dialog-button" color="primary" (click)="openDialog()">Open dialog</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Bottom Sheet</div>
        </mat-card-header>
        <mat-card-content class="dialog-demo">
            <button mat-stroked-button class="bottom-sheet-button" color="primary" (click)="openBottomSheet()">
                Open Bottom Sheet
            </button>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>Snackbar</div>
        </mat-card-header>
        <mat-card-content class="snackbar-demo">
            <button
                mat-stroked-button
                class="snackbar-button"
                color="primary"
                (click)="openSnackBar('There there! I\'m a snackbar!', 'CLOSE')"
            >
                Show Simple Snackbar
            </button>
        </mat-card-content>
    </mat-card>
</div>
