.spinner-section {
    display: flex;
    justify-content: space-around;
}

.bar-section div {
    margin-bottom: 16px;
}
.snackbar-demo,
.dialog-demo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    button {
        width: 250px;
    }
}
