<mat-card>
  <mat-list>
    <pxb-hero-banner [divider]="true" >
      <pxb-hero [allowClick]="true" label="Healthy" value="96"  units="/100" (click)="test()"  >
        <mat-icon svgIcon="px-icons:bearing" primary></mat-icon>
        <mat-icon  class="output" secondary>trending_up</mat-icon>
        
      </pxb-hero>

      <pxb-hero [allowClick]="true" label="Load" fontSize="small" >
        <pie-progress class="progress-icon" percent="70" size="36" primary></pie-progress>
        <pxb-channel-value class="content" value="65"  units="%" [prefix]="true"  >
          <mat-icon  class="output" >trending_up</mat-icon>
        </pxb-channel-value>
      </pxb-hero>

      <pxb-hero [allowClick]="true" label="Estimated" >
        <mat-icon primary>alarm</mat-icon>
        <pxb-channel-value class="content" value="1" units="h"></pxb-channel-value>
        <pxb-channel-value class="content" value="26" units="m"></pxb-channel-value>
      </pxb-hero>

      <pxb-hero [allowClick]="true" label="Battery"   value="Full" fontSize="small">
        <battery-progress class="progress-icon" percent="90" size="36" primary></battery-progress>
      </pxb-hero>

    </pxb-hero-banner>
  </mat-list>

  <mat-list >
    <mat-list-item >
        <mat-icon mat-list-icon  svgIcon="px-icons:leaf" class="list-icon"></mat-icon>
      <h4 mat-line>status</h4>
      <div class="channelcontent"> 
          <pxb-channel-value class="content list-value" value="online,ESS+"></pxb-channel-value>
      </div>
        
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item >
        <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled" class="list-icon"></mat-icon>
        <h4 mat-line>Input Voltage</h4>
        <div class="channelcontent">
        <pxb-channel-value class="content list-value" value="478" units="V"></pxb-channel-value>,
        <pxb-channel-value class="content list-value" value="479" units="V"></pxb-channel-value>,
        <pxb-channel-value class="content list-value" value="473" units="V"></pxb-channel-value>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

    <mat-list-item class="output">
        <mat-icon mat-list-icon svgIcon="px-icons:voltage_circled" class="list-icon" color="red"></mat-icon>
        <h4 mat-line>Output Voltage</h4>
        <div class="channelcontent">
        <pxb-channel-value class="content list-value" value="480" units="V"></pxb-channel-value>,
        <pxb-channel-value class="content list-value" value="480" units="V"></pxb-channel-value>,
        <pxb-channel-value class="content list-value" value="480" units="V"></pxb-channel-value>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

    <mat-list-item >
        <mat-icon mat-list-icon svgIcon="px-icons:current_circled" class="list-icon" color="red"></mat-icon>
        <h4 mat-line>Output Current</h4>
        <div class="channelcontent">
        <pxb-channel-value class="content list-value" value="15" units="A"></pxb-channel-value>,
        <pxb-channel-value class="content list-value" value="15" units="A"></pxb-channel-value>,
        <pxb-channel-value class="content list-value" value="15" units="A"></pxb-channel-value>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item >
          <mat-icon mat-list-icon svgIcon="px-icons:temp" class="list-icon" color="red"></mat-icon>
          <h4 mat-line>Temperature</h4>
          <div class="channelcontent">
          <pxb-channel-value class="content" value="68"  units="°F">
              <mat-icon >trending_up</mat-icon>
            </pxb-channel-value>
          </div>
        </mat-list-item>
  </mat-list>


</mat-card>