@import '../utility/utility';
$size: 2.5rem;

.pxb-user-menu {
    display: flex;
}

.pxb-user-menu-avatar {
    display: flex;
    border-radius: 50%;
}
.pxb-user-menu-avatar-content {
    height: $size;
    width: $size;
    line-height: $size;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
        width: 100%;
        height: 100%;
    }
    .mat-icon {
        align-self: center;
        @include scale-icon-content();
    }
}

mat-card.pxb-user-menu-overlay {
    padding: 0;
}

.pxb-user-menu-text-avatar {
    margin-bottom: 0;
    font-weight: 400;
    line-height: $size;
}

.pxb-user-menu-header mat-toolbar {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    .pxb-drawer-header-title {
        font-size: 1rem;
    }
    .pxb-drawer-header-subtitle {
        font-size: 0.875rem;
    }
}

.pxb-user-menu-overlay-backdrop {
    background-color: unset;
}

.pxb-user-menu-overlay {
    .mat-list-base .mat-list-item.pxb-info-list-item-content .pxb-info-list-item-title-wrapper {
        font-weight: 400;
    }
}

.pxb-user-menu-bottomsheet.mat-bottom-sheet-container {
    padding: 0;
}
