.drawer-layout-examples {
    .blui-drawer-layout {
        height: 240px;
        width: 100%;
    }
}
.drawer-layout-examples {
    .playground-container .blui-drawer-layout  {
        min-width: 700px;
        height: 350px;
    }
}