.blui-mobile-stepper {
    display: flex;
    width: 100%;
}

.blui-mobile-stepper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    button {
        margin: 1rem 16px;
    }
}

.blui-mobile-stepper-dots {
    display: flex;
    flex-direction: row;
}

.blui-mobile-stepper-dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: gray;
    border-radius: 100%;
    margin: 0 0.25rem;
}

.blui-mobile-stepper-dot-active {
    background-color: blue; /* Default color */
}

.blui-mobile-stepper-display-none {
    display: none;
}
